
{extend name='public/page_list' /}
{block name='css'}
<link rel="stylesheet" href="./homeStatic/css/detail.css">
<link rel="stylesheet" href="./homeStatic/css/kf.css">
<link rel="stylesheet" href="./homeStatic/css/common_orig.css">
<link rel="stylesheet" href="./homeStatic/css/color_orig.css">
<link rel="stylesheet" href="./homeStatic/css/css_orig.css">
{/block}
{block name='js'}
<script src="./homeStatic/js/swiper.jquery.min.js"></script>
<script src="./homeStatic/js/swiper.min.js"></script>
<script src="./homeStatic/js/jquery.waypoints.min.js"></script>
<script src="./homeStatic/js/zhezhaoTab.js"></script>
<script src="./homeStatic/js/detail.js?v={:time()}"></script>
<script src="__STATIC__/js/layer/layer.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
{/block}
{block name='content'}
<div class="fangpai-detail-fixed-list-header">
    <ul class="fangpai-detail-fixed-header-list">
        <li class="fangpai-detail-fixed-header-list-cur">
            <a href="#fangpai-detail-fangyuan">房源信息</a>
        </li>
        <li>
            <a href="#fangpai-detail-paimai">拍卖公告</a>
        </li>
        <li>
            <a href="#fangpai-detail-jilu">成交记录</a>
        </li>
        <li>
            <a href="#fangpai-detail-zhuanyuan">法拍专员推荐</a>
        </li>
        <li>
            <a href="#fangpai-detail-daikuan">贷款信息</a>
        </li>
        <li>
            <a href="#fangpai-detail-jieshao">小区介绍</a>
        </li>
        <li>
            <a href="#fangpai-detail-zhoubian">周边配套</a>
        </li>
        <li>
            <a href="#fangpai-detail-monty">推荐房源</a>
        </li>
    </ul>
</div>
<div class="fangpai-detail-box">
    <div class="fangpai-detail-weizhi">
        您的位置：<span>房拍网 > 房源详情 >{$info.title}</span>
    </div>
    <div class="fangpai-detail-header">
        <div class="fangpai-detail-header-title">
            <h2>{$info.title}</h2>
            <div class="fangpai-detail-header-right-bianhao">
                <div class="fangpai-detail-header-right-bianhao-yuyue look">
                    <img src="./homeStatic/img/shizhong20.png" alt="">
                    <span>预约看房</span>
                </div>
                <div class="fangpai-detail-header-right-bianhao-yuyue join" data-id="{$info.id}" data-broker="{$info.broker_id}">
                    <img src="./homeStatic/img/xin20.png" alt="" class="join_img">
                    {if $gzfang gt 0 }
                    <span class="join_is_guanzhu">已关注</span>
                    {else}
                    <span class="join_is_guanzhu">关注房源</span>
                    {/if}
                </div>
                {if condition="!empty($userInfo) && $userInfo['mobile'] == 13911334407"}
                <input type="hidden" class="rec_position_info" value="{$info.rec_position}">
                    <div class="fangpai-detail-header-right-bianhao-yuyue tuijian" data-id="{$info.id}">
                        {if $info.rec_position gt 0 }
                        <span class="tuijian_button">已推荐</span>
                        {else}
                        <span class="tuijian_button">推荐房源</span>
                        {/if}
                    </div>
                {/if}
                <p>拍卖编号：{$info.bianhao}</p>
            </div>
        </div>
        <div class="fangpai-detail-header-content">
            <div class="fangpai-detail-header-left">
                <div class="fangpai-detail-header-left-top">
                    <img src="{$info.img}" alt="{$info.title}" onerror="javascript:this.src='/static/images/noimg.jpg';" class="fangpai-detail-header-left-top-img">
                </div>
                <div class="fangpai-detail-header-left-bottom">
                    <div class="fangpai-detail-header-left-bottom-list">
                        <ul>
                            {notempty name='info.file'}
                            {volist name='info.file' id='vo'}
                            <li class="fangpai-detail-header-left-bottom-list-cur">
                                <img src="{$vo.url}" onerror="javascript:this.src='/static/images/noimg.jpg';" alt="{$info.title}">
                            </li>
                            {/volist}
                            {else /}
                            <li class="fangpai-detail-header-left-bottom-list-cur">
                                <img src="/static/images/noimg.jpg" alt="">
                            </li>
                            {/notempty}
                        </ul>
                        <div class="fangpai-detail-header-left-bottom-prev">
                            <button>
                                <img src="./homeStatic/img/lunboLeft.png" alt="">
                            </button>
                        </div>
                        <div class="fangpai-detail-header-left-bottom-last">
                            <button>
                                <img src="./homeStatic/img/lunboRight.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                {if $info.is_free eq 1}
                <span  style="float:right; margin-top:-557px; z-index:557; position: absolute;background:#CEA85F;color: azure;font-size: 25px;width: 105px;height:60px;text-align:center;line-height: 57px;">自由购</span>
                {/if}
            </div>
            <div class="fangpai-detail-header-right">
                <ul class="fangpai-detail-header-right-monty">
                    <li class="fangpai-detail-header-right-monty-red">
                        <span>起拍价：</span>
                        <p><b>{$info.qipai|raw}</b>万</p>
                    </li>
                    <li class="fangpai-detail-header-right-monty-top">
                        <span>市场价：</span>
                        <span>{$info.qp_price}万</span>
                    </li>
                    <li>
                        <span>单价：</span>
                        <span>{$info.junjia}元/㎡</span>
                    </li>
                    <li>
                        <span>差价：</span>
                        <span>{$info.chajia|raw}万</span>
                    </li>
                    <li>
                        <span>捡漏指数：</span>
                        <span>
                            {for start="0" end="$info.marketprice"}
                            <img src="/static/images/img-14.png">
                            {/for}
                        </span>
                    </li>
                    <li>
                        <span>保证金：</span>
                        <span>{$info.baozheng}万</span>
                    </li>
                    {if condition="$login_user.model eq 4"}
                    <li>
                        <span>参考价：</span>
                        <span>{$info.ckprice}万</span>
                    </li>
                    {/if}
                </ul>
                <ul class="fangpai-detail-header-right-detail">
                    <li>
                        <p><b>{:getLinkMenuName(29,$info['toilet'])}</b></p>
                        <p>{$info.floor}层/共{$info.total_floor}层</p>
                    </li>
                    <li>
                        <p><b>{:getLinkMenuName(4,$info['orientations'])}</b></p>
                        <p>{$info.xsname}</p>
                    </li>
                    <li>
                        <p><b>{$info.acreage}{:config('filter.acreage_unit')}</b></p>
                        <p>{$info.years}年</p>
                    </li>
                </ul>
                <div class="fangpai-detail-header-right-people">
                    <div class="fangpai-detail-header-right-people-left">
                        <a href="{:url('Broker/second',['id'=>$info['broker_id']])}"><img src="/uploads/avatar/{$info['broker_id']}/avatar.jpg" alt=""></a>
                    </div>
                    <div class="fangpai-detail-header-right-people-right">
                        <div class="fangpai-detail-header-right-people-right-name">
                            <b>{$info.contacts.contact_name}</b>
                            <span>法拍专员</span>
                            <p>法拍服务从业经验{$user_info.history_complate}年</p>
                        </div>
                        <div class="fangpai-detail-header-right-people-right-zixun" onclick='online("{$user.kflj}","{$userInfo.id}")'>
                            <img src="/homeStatic/img/nvkefu22.png" alt="">
                            <span>在线咨询</span>
                        </div>
                        <div class="fangpai-detail-header-right-people-right-phone">
                            {$user.lxtel_zhuan}
                        </div>
                    </div>
                </div>
                <div class="fangpai-detail-header-right-begin">
                <div class="fangpai-detail-header-right-begin-jiezhitime">
                    <span>开拍截止时间：</span>
                    <input type="hidden" id="fastatus" value="{$info.fcstatus}">
                    <input type="hidden" id="house_type" value="{$info.house_type}">
                    <b id="reciprocal">
                        {if condition="$info.fcstatus eq 175"}
                        <span>成交价：</span>{$info.cjprice}<span>万元</span>
                        <div class="fangpai-detail-header-right-begin-time">
                            <span>结束时间：</span>
                            <b>{$info.endtime}</b>
                        </div>
                        {elseif condition="$info.fcstatus eq 171"}
                        拍卖已结束
                        {elseif condition="$info.fcstatus eq 172"}
                        拍卖已中止
                        {elseif condition="$info.fcstatus eq 174"}
                        拍卖已暂缓
                        {elseif condition="$info.fcstatus eq 173"}
                        拍卖已撤回
                        {/if}
                    </b>
                    <input type="text" name="usernames" id="usernames" value="{$info.jieduan}" style="display:none;">
                    {if $info.jieduan eq 163}
                    <input type="text" name="usernameb" id="usernameb" value="{$info.bianetime}" style="display:none;">
                    {/if}
                    <input type="text" name="username" id="username" value="{$info.kptime}" style="display:none;">
                </div>
                <div class="fangpai-detail-header-right-begin-time">
                    <span>开拍时间：</span>
                    <b>{$info.kptime}</b>
                </div>
                <div class="fangpai-detail-header-right-begin-baoming">
                    <div class="fangpai-detail-header-right-begin-baoming-left">
                        <input type="hidden" id="userInfo" value="{$login_user_json}">
                        {if condition="!empty($userInfo)"}
                        <span>{$info.bmrs}</span>人报名
                        {else \}
                        <span> *** </span>人报名
                        {/if}
                    </div>
                    <div class="fangpai-detail-header-right-begin-baoming-right">
                        <span>{$info.weiguan}</span>人围观
                    </div>
                    {if condition="$login_user.model eq 4"}
                    <div class="fangpai-detail-header-right-begin-baoming-right">
                        <span class="all_click all_click_dianping"  data-id="{$info.id}" data-type="1" data-model="second_house" data-uri="{:url('Dialog/fydp')}" >房源点评</span>
                    </div>
                    {/if}
                </div>
                <div class="fangpai-detail-header-right-begin-baoming">
                    <div class="fangpai-detail-header-right-begin-baoming-left">
                        {if condition="$login_user.model eq 4"}
                        <a href="/jdbg-{$id}" style="color:red;">查看尽调报告</a>
                        {/if}
                    </div>
                </div>
                <div class="fangpai-detail-fixed">
                    <div class="fangpai-detail-fixed-header">
                        <h4>法拍专员</h4>
                        {if condition="$second_house_user_comment_num"}
                        <div class="fangpai-detail-fixed-refresh" data-id="{$info.id}" data-tit="{$info.title}" data-img="{$info.img}">
                            <img src="" alt="">
                            <span class="">换一换</span>
                        </div>

                        {/if}
                    </div>
                    <ul class="fangpai-detail-fixed-list">
                        {volist name='$second_house_business' id='vo'}
                        <li>
                            <div class="fangpai-detail-fixed-list-content">
                                <p class="fangpai-detail-fixed-list-img"><img src="{:getAvatar($vo.user_id,90)}" alt="{$vo.nick_name}"></p>
                                <div class="fangpai-detail-fixed-list-content-info">
                                    <span>{$vo.nick_name}</span>
                                    <p>经验：{$vo.history_complate}年</p>
                                    <b>{$vo.lxtel}</b>
                                </div>
                            </div>
                            <div class="fangpai-detail-fixed-list-button" onclick='online("{$user.kflj}","{$userInfo.id}")'>
                                <img src="./homeStatic/img/nvkefu22.png" alt="">
                                <span>在线咨询</span>
                            </div>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="fangpai-detail-fangyuan">
        <h2 id="fangpai-detail-fangyuan">房源信息</h2>
        <div class="fangpai-detail-fangyuan-basic">
            <p>基本信息</p>
            <ul class="fangpai-detail-fangyuan-basic-list">
                <li><span>小区名称：</span>{$estate.title}</li>
                <li><span>所在区域：</span>{$estate.area_name}</li>
                {empty name="$info.basic_info.2"}
                <li><span>户型结构：</span>不祥</li>
                {else /}
                <li><span>户型结构：</span>{$info.basic_info.2}</li>
                {/empty}
                <li><span>电梯情况：</span>{$info.elevator|default="不详"}</li>
                {empty name="$info.basic_info.3"}
                <li><span>装修情况：</span>不祥</li>
                {else /}
                <li><span>装修情况：</span>{$info.basic_info.3}</li>
                {/empty}
                {empty name="$info.basic_info.4"}
                <li><span>供暖情况：</span>不祥</li>
                {else /}
                <li><span>供暖情况：</span>{$info.basic_info.4}</li>
                {/empty}
                <li><span>车位情况：</span>{$info.parking_space}</li>
                {empty name="$info.basic_info.6"}
                <li><span>物业情况：</span>{$estate.data.property_company}</li>
                {else /}
                <li><span>物业情况：</span>{$info.basic_info.6}</li>
                {/empty}
                {empty name="$login_user.model.4"}
                    {if condition='$info.hxsimg neq ""'  }
                        <li><span>尽调报告：</span><a href="{$info.hxsimg}" download="{$info.hxsimg}">已上传，点击下载</a></li>
                    {/if}
                {else /}
                     <li><span>尽调报告：</span><span style="color: #CF2924"> *** </span></li>
                {/empty}
                {if condition="$login_user.model eq 4"}
                    <li><span>页面分享：</span><a href="{:url('Second/detail_sharing',['id'=>$info.id])}">分享页</a></li>
                    <li><span>公司分享：</span><a href="{:url('Second/detail_sharing_wechat',['id'=>$info.id])}">公司分享</a></li>
                {/if}
            </ul>
        </div>
        <div class="fangpai-detail-fangyuan-basic">
            <p>拍卖信息</p>
            <ul class="fangpai-detail-fangyuan-basic-list">
                <li><span>拍卖阶段：</span>{$info.jieduan_name}</li>
                {if condition="$login_user.model eq 4"}
                <li><span>产权证号：</span>{$info.property_no|default="不详"}</li>
                {else /}
                <li><span>产权证号：</span><span style="color: #CF2924"> *** </span></li>
                {/if}
                {if condition="$login_user.model eq 4"}
                <li><span>房屋用途：</span>{$info.house_purpse|default="不详"}</li>
                {else /}
                <li><span>房屋用途：</span><span style="color: #CF2924"> *** </span></li>
                {/if}
                {if condition="$login_user.model eq 4"}
                <li><span>租赁情况：</span>{$info.lease|default="不详"}</li>
                {else /}
                <li><span>租赁情况：</span><span style="color: #CF2924"> *** </span></li>
                {/if}
                {if condition="$login_user.model eq 4"}
                <li><span>抵押情况：</span>{$info.mortgage|default="不详"}</li>
                {else /}
                <li><span>抵押情况：</span><span style="color: #CF2924"> *** </span></li>
                {/if}
                {if condition="$login_user.model eq 4"}
                <li><span>查封情况：</span>{$info.sequestration|default="不详"}</li>
                {else /}
                <li><span>查封情况：</span><span style="color: #cf2924"> *** </span></li>
                {/if}
            </ul>
        </div>
        <div class="fangpai-detail-fangyuan-basic">
            <p>欠费及瑕疵</p>
            <div class="fangpai-detail-fangyuan-qianfei">
                {if condition="!empty($userInfo)"}
                <li><span>欠费：</span>{if condition="$info.qianfei_status eq 1"}有{else /}无{/if}</li>
                <li><span>瑕疵：</span>{if condition="$info.xiaci_status eq 1"}有{else /}无{/if}</li>
                {else \}
                <p style="width: 480px">注册登录可看<span class="is_register">立即注册</span> <span class="is_login">登录</span> </p>
                {/if}
            </div>
        </div>
        <div class="fangpai-detail-fangyuan-basic">
            <p>房源特色</p>
            <div class="fangpai-detail-fangyuan-tese">
                <div class="fangpai-detail-fangyuan-tese-biaoqian">
                    <span>房源标签</span>
                    <ul class="fangpai-detail-fangyuan-tese-biaoqian-list">\
                        <li></li>
                    </ul>
                </div>
                <div class="fangpai-detail-fangyuan-tese-biaoqian">
                    <span>交通出行</span>
                    <div class="fangpai-detail-fangyuan-tese-content">
                        {empty name="$info.basic_info.8"}
                        {else /}
                        {$info.basic_info.8}
                        {/empty}
                    </div>
                </div>
                <div class="fangpai-detail-fangyuan-tese-biaoqian">
                    <span>周边配套</span>
                    <div class="fangpai-detail-fangyuan-tese-content">
                        {empty name="$info.basic_info.7"}
                        {else /}
                        {$info.basic_info.7}
                        {/empty}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="fangpai-detail-paimai-title">
                <h2 id="fangpai-detail-paimai" class="fangpai-detail-paimai">拍卖公告</h2>
                <span><img src="./homeStatic/img/jia20.png" alt=""></span>
            </div>
            <div class="fangpai-detail-paimai-content" style="display: none">
                {if condition="!empty($userInfo)"}
                    {$info.info|raw}
                {/if}
                <input type="hidden">
            </div>
        </div>
        <div id="fangpai-detail-jilu" class="fangpai-detail-jilu">
            <div class="fangpai-detail-jilu-title">
                <h2>成交记录</h2>
                <span><img src="./homeStatic/img/jia20.png" alt=""></span>
            </div>

            <div class="fangpai-detail-jilu-content" style="display: none">
                <p class="fangpai-detail-jilu-content-jiaoyi-title">交易记录</p>
                    {if $info.jieduan gt 161}
                    <ul class="fangpai-detail-jilu-content-jiaoyi">
                        {if $info.jieduan eq 163}
                        <li>
                            <span>二拍流拍</span>
                            <span>二拍结束时间：{$info.twoetime}</span>
                            <span>流拍价：{$info.twoprice}万</span>
                        </li>
                        <li>
                            <span>一拍流拍</span>
                            <span>二拍结束时间：{$info.oneetime}</span>
                            <span>流拍价：{$info.oneprice}万</span>
                        </li>
                        {/if}
                        {if $info.jieduan eq 162}
                        <li>
                            <span>一拍流拍</span>
                            <span>二拍结束时间：{$info.oneetime}</span>
                            <span>流拍价：{$info.oneprice}万</span>
                        </li>
                        {/if}
                    </ul>
                    {/if}
                {if condition="$login_user.model eq 4"}
                <p class="fangpai-detail-jilu-content-jiaoyi-title">拍卖成交记录</p>
                    <ul class="fangpai-detail-jilu-content-chengjiao">
                        {volist name='jilu1' id='tvo'}
                        <li>
                            <span>{$tvo.complate_time}</span>
                            <span>{$tvo.title}</span>
                            <span>{$tvo['louceng']}&nbsp;&nbsp;{$tvo['chaoxiang']}</span>
                            <span>{$tvo.acreage}平米</span>
                            <span>成交价：{$tvo.price}</span>
                            <span>{$tvo.cjprice}元/㎡</span>
                        </li>
                        {/volist}
                    </ul>
                <!--<div class="fangpai-detail-jilu-content-footer">-->
                    <!--<span onclick="btn">更多</span>-->
                    <!--<img src="./homeStatic/img/jrxz.png" alt="">-->
                <!--</div>-->
                {/if}

            </div>

        </div>
        <script>
            function btn(){
                if(btn1.value=="收起"){
                    box1.style.display='none';
                    btn1.value="更多";
                }else{
                    box1.style.display='block';
                    btn1.value="收起";
                }
            }
        </script>


        {if condition="$second_house_user_comment_num"}
        <div id="fangpai-detail-zhuanyuan" class="fangpai-detail-zhuanyuan">
            <div class="fangpai-detail-zhuanyuan-title">
                <h2 >法拍专员推荐</h2>
                <!--<span class="change" data-id="{$info.id}">换一换</span>-->
            </div>
            <ul class="second_house_user_comment">
                {volist name='$second_house_user_comment' id='vo'}
                <div class="fangpai-detail-zhuanyuan-content">
                    <div class="fangpai-detail-zhuanyuan-detail-img">
                        <img src="{:getAvatar($vo.user_id,90)}" alt="{$vo.nick_name}">
                    </div>
                    <div class="fangpai-detail-zhuanyuan-detail-info">
                        <div class="fangpai-detail-zhuanyuan-detail-info-name">
                            <div class="fangpai-detail-zhuanyuan-detail-info-name-left">
                                <span>{$vo.nick_name}</span>
                                <b>{$vo.lxtel}</b>
                            </div>
                            <div class="fangpai-detail-zhuanyuan-detail-info-name-right">
                                <span><a href="javascript:;"  style="text-decoration:none;" onclick='online("{$user.kflj}","{$userInfo.id}")'>在线咨询</a></span>
                            </div>
                        </div>
                        <div class="fangpai-detail-zhuanyuan-detail-info-xiangqing">
                            {$vo.house_name}
                        </div>
                    </div>
                </div>
                {/volist}
            </ul>
        </div>
        {/if}

        <div id="fangpai-detail-daikuan" class="fangpai-detail-daikuan">
            <div class="fangpai-detail-daikuan-title">
                <h2>贷款计算</h2>
            </div>
            <div class="fangpai-detail-daikuan-content">
                <div class="fangpai-detail-daikuan-content-left">
                    <ul>
                        <li>
                            <span>贷款类型</span>
                            <select>
                                <option value ="1">商业贷</option>
                            </select>
                            <p class="fangpai-detail-daikuan-content-left-img-position">
                                <img src="./homeStatic/img/daosanjiao22.png" alt="">
                            </p>
                        </li>
                        <li>
                            <span>起拍价</span>
                            <input type="text" id="dai_qipai" value="{$info.qipai|raw}" style="font-size: 16px;margin-left: 13px">
                            <input type="hidden" id="house_loan" value="{$house_loan}">
                            <input type="hidden" id="dai_mianji" value="{$info.acreage}">
                            <p class="fangpai-detail-daikuan-content-left-position">万元</p>
                        </li>
                        <li>
                            <span>贷款比例</span>
                            <select id="dai_bili">
                                <option value ="65">65%</option>
                                <option value ="60">60%</option>
                                <option value ="55">55%</option>
                                <option value ="50">50%</option>
                                <option value ="45">45%</option>
                                <option value ="40">40%</option>
                                <option value ="35">35%</option>
                                <option value ="30">30%</option>
                                <option value ="25">25%</option>
                                <option value ="20">20%</option>
                                <option value ="15">15%</option>
                                <option value ="10">10%</option>
                                <option value ="5">5%</option>
                            </select>
                            <p class="fangpai-detail-daikuan-content-left-img-position">
                                <img src="./homeStatic/img/daosanjiao22.png" alt="">
                            </p>
                        </li>
                        <li>
                            <span>商贷年限</span>
                                <select id="dai_nianxian">
                                    <option value="30">30年</option>
                                    <option value="29">29年</option>
                                    <option value="28">28年</option>
                                    <option value="27">27年</option>
                                    <option value="26">26年</option>
                                    <option value="25">25年</option>
                                    <option value="24">24年</option>
                                    <option value="23">23年</option>
                                    <option value="22">22年</option>
                                    <option value="21">21年</option>
                                    <option value="20">20年</option>
                                    <option value="19">19年</option>
                                    <option value="18">18年</option>
                                    <option value="17">17年</option>
                                    <option value="16">16年</option>
                                    <option value="15">15年</option>
                                    <option value="14">14年</option>
                                    <option value="13">13年</option>
                                    <option value="12">12年</option>
                                    <option value="11">11年</option>
                                    <option value="10">10年</option>
                                    <option value="9">9年</option>
                                    <option value="8">8年</option>
                                    <option value="7">7年</option>
                                    <option value="6">6年</option>
                                    <option value="5">5年</option>
                                </select>
                            <p class="fangpai-detail-daikuan-content-left-img-position">
                                <img src="./homeStatic/img/daosanjiao22.png" alt="">
                            </p>
                            </li>
                        <li>
                        <span>商贷利率</span>
                            <select id="dai_lilv">
                                <option value ="4.41">基准利率9折(4.41%)</option>
                                <option value ="4.655">基准利率95折(4.655%)</option>
                                <option selected value="4.9">基准利率(4.9%)</option>
                                <option value="5.145">基准利率上浮5%(5.145%)</option>
                            </select>
                            <p class="fangpai-detail-daikuan-content-left-img-position">
                                <img src="./homeStatic/img/daosanjiao22.png" alt="">
                            </p>
                        </li>
                        <li>
                        <span>还款方式</span>
                            <select id="dai_huankuan">
                                <option value ="benxi">等额本息</option>
                                <option value ="benjin">等额本金</option>
                            </select>
                            <p class="fangpai-detail-daikuan-content-left-img-position">
                                <img src="./homeStatic/img/daosanjiao22.png" alt="">
                            </p>
                        </li>
                        <li>
                            <span></span>
                            <p class="fangpai-detail-daikuan-content-jisuan">开始计算</p>
                        </li>
                    </ul>
                </div>
                <div class="fangpai-detail-daikuan-content-right">
                    <div class="yuegong_xi fangpai-detail-daikuan-content-right-monty">
                        <p>月供（等额本息）</p>
                        <p><span id="huan_benxi"></span>元</p>
                    </div>
                    <div class="yuegong_jin fangpai-detail-daikuan-content-right-ben fangpai-detail-daikuan-content-right-monty"  style="display: none">
                        <p>月供（等额本金）</p>
                        <p><span id="huan_benjin"></span>元</p>
                    </div>
                    <div class="yuegong_jin fangpai-detail-daikuan-content-right-monty" style="display: none">
                        <p>每月递减</p>
                        <p><span id="huan_dijian"></span>元</p>
                    </div>
                    <div id="main_">
                        <input type="hidden" id="mail_val" value="">
                    </div>
                </div>
            </div>

        </div>

        <div id="fangpai-detail-jieshao" class="fangpai-detail-jieshao">
            <div class="fangpai-detail-jieshao-title">
                <h2>小区介绍</h2>
            </div>
            <div class="fangpai-detail-jieshao-name">
                <p>
                    <b>{$estate.title}</b>
                    <span>（本小区共有拍卖房 {$estate_num}套）</span>
                </p>
                <span class="look-detail"><a href="{:url('Estate/detail',['id'=>$estate.id])}" style="text-decoration:none;">查看小区详情</a></span>
            </div>
            <div class="fangpai-detail-jieshao-content">
                <div class="fangpai-detail-jieshao-left">
                    <ul>
                        <li>
                            <span>建筑年代：</span>
                            <b>{$estate.years}</b>
                        </li>
                        <li>
                            <span>所在版块：</span>
                            <b>{$estate.area_name}</b>
                        </li>
                        <li>
                            <span>物业费用：</span>
                            <b>{$estate.data.property_fee}</b>
                        </li>
                        <li>
                            <span>总户数：</span>
                            <b>{$estate.data.plan_number}</b>
                        </li>
                        <li>
                            <span>停车位：</span>
                            <b>{$estate.data.parking_space}</b>
                        </li>
                        <li>
                            <span>绿化率：</span>
                            <b>{$estate.data.greening_rate}</b>
                        </li>
                    </ul>
                </div>
                <div class="fangpai-detail-jieshao-right">
                    <img src="{$estate.img}" alt="">
                </div>
            </div>
        </div>

        <!--<div class="fangpai-detail-zhoubian">-->
            <!--<div class="fangpai-detail-zhoubian-title">-->
                <!--<h2>周边配套</h2>-->
            <!--</div>-->
            <!--<div class="fangpai-detail-zhoubian-content">-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
    <div class="fangpai-detail-zhezhao">
    <div class="fangpai-detail-zhezhao-con">
        <div class="fangpai-detail-zhezhao-header">
            <img src="/homeStatic/img/jiahao.png" alt="">
        </div>
        <div class="fangpai-detail-zhezhao-content">
            <div class="fangpai-detail-zhezhao-content-top">
                <img src="{$info.img}" alt="{$info.title}"  onerror="javascript:this.src='/static/images/noimg.jpg';" class="fangpai-detail-zhezhao-content-img">
            </div>

            <div class="fangpai-detail-zhezhao-bottom-prev">
                <button>
                    <img src="./homeStatic/img/lunboLeft.png" alt="">
                </button>
            </div>
            <div class="fangpai-detail-zhezhao-bottom-last">
                <button>
                    <img src="./homeStatic/img/lunboRight.png" alt="">
                </button>
            </div>
            <div class="fangpai-detail-zhezhao-bottom">
                <div class="fangpai-detail-zhezhao-bottom-list">
                    <ul>
                        {volist name='info.file' id='vo'}
                        <li class="fangpai-detail-zhezhao-bottom-list-cur">
                            <img src="{$vo.url}" onerror="javascript:this.src='/static/images/noimg.jpg';" alt="{$info.title}">
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="fangpai-detail-zhoubian" class="house_detail" style="width: 1200px;margin: 0 auto;">
        <div class="comWidth">
            <!-- con_wrap -->
            <div class="con_wrap clearfix">
                <!-- 周边配套 S-->
                {include file='public/map_l' /}
                <!-- 周边配套 E-->
            </div>
        </div>
    </div>

    <input type="hidden" id="house_characteristic" value="{$house_characteristic}">
    {include file="second/kf"}
    <!--<div id="fangpai-detail-monty" class="fangpai-shu-tuijian-box">-->
    <div class="fangpai-shu-tuijian">
        <h2>推荐房源</h2>
        {volist name='recommend_house' id='vo'}
        <div class="tuijian-slide-detail tuijian-slide-detail_f">
            <a href="{:url('Second/detail',['id'=>$vo.id])}"><img src="{$vo.img}" data-original="{$vo.img}" class="lazy" alt=""></a>
            <p style="">{:msubstr(strip_tags($vo['title']),0,18)}</p>
            <div class="tuijian-slide-detail-info">
                <span>{:getLinkMenuName(29,$vo['toilet'])}-{$vo.acreage}/㎡</span>
                <span class="tuijian-slide-detail-info-color">{$vo.qipai|raw}万</span>
            </div>
        </div>
        {/volist}
    </div>
    <!--todo none 聊天信息展示-->
   <div class="fang_details_left_bottom" style="display: none">
       <div class="fang_jilu">
           <img src="./homeStatic/img/jilu.png" alt="">
       </div>
       <div class="fang_chat">
           <div class="box_right">
               <img src="./homeStatic/img/cha.png" alt="">
           </div>
           <div class="box">
               <div class="item left">
                   <img class="header-img" src="" />
                   <span class="message">北京金铂顺昌拍卖有限公司（简称“金铂顺昌”）成立于 2013 年，注册资金1000万，总部设在北京；主要从事不良资产处置，法拍房代拍，债权转让等业务。</span>
               </div>
               <div class="chart-timer">
                   2019-5-17
               </div>
               <!--<div class="item right">-->
                   <!--<img class="header-img" src="" />-->
                   <!--<span class="message">哈哈哈哈哈</span>-->
               <!--</div>-->
               <div class="item left">
                   <img class="header-img" src="" />
                   <span class="message">北京金铂顺昌拍卖有限公司（简称“金铂顺昌”）成立于 2013 年，注册资金1000万，总部设在北京；主要从事不良资产处置，法拍房代拍，债权转让等业务。</span>
               </div>

               <!--<div class="item right">-->
                   <!--<img class="header-img" src="" />-->
                   <!--<span class="message">吃饭饭</span>-->
               <!--</div>-->
           </div>

           <div class="input-box">
               <input type="text"/>
               <button>确定</button>
           </div>
       </div>

   </div>

</div>

    <script src="./js/echarts.min.js"></script>
{/block}
{block name='zhezhao'}
<div class="all_spring">
    <div class="zhuce-header all_spring_header">
        <p>房源点评</p>
        <span><img src="/homeStatic/img/jiahao.png" class="close_model" style="padding-left:19px" alt=""></span>
    </div>
    <div class="zhuce-content all_spring_content" style="margin-bottom: 20px">
        <textarea id="pinglun_content" cols="70" rows="10"></textarea>
        <input type="hidden" name="type" value="1">
        <input type="hidden" name="model" value="second_house">
        <input type="hidden" name="house_id" value="{$info.id}">
        <input type="hidden" name="broker_id" value="{$info.broker_id}">
        <input type="hidden" id="send_sms" value="1">
    </div>
    <div class="zhuce-content all_spring_content_list" style="margin-bottom: 20px">
    </div>
    <div class="lijizhuce fangyuanfydp"  onclick="fangyuanfydp()">
        提交
    </div>
</div>
{/block}