<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./homeStatic/css/fangyaunShare.css?v={:time();}">
</head>
<body>
<script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/share/js/jquery-git.js"></script>
<script type="text/javascript" src="/share/js/shuiyin.js"></script>
<script type="text/javascript" src="/share/js/html2canvas.js"></script>

<script language="javascript" src="//scripts.easyliao.com/js/easyliao.js"></script>
{if $info.fcstatus==175 }
<div class="fang_tuijian">
    <div><input type="button" id="SaveDownload" value="生成图片"></div>
    <div><img class="imgDiv_img" src="" /></div>
    <div class="fangyaun-share_chengjiao" id="body">
        <div class="fangyaun-share-header">
            <img src="{:getAvatar($login_user.id,90)}" data-original="{:getAvatar($login_user.id,90)}" alt="" class="fangyaun-share-header-touxiang lazy">
            <div class="fangyaun-share-header-phone">
                <h1>{$login_user.user_name}为您推荐</h1>
                <p>联系方式：<span>{$login_user.mobile}</span></p>
            </div>
            <div class="fangyaun-share-header-code">
                <img src="{$login_user.qr_code}" alt="">
            </div>
        </div>
        <div class="fangyaun-share-content" style="position:relative;">
            <div style="position:absolute; left:0px; top:0px;">
                <img src="homeStatic/img/yichengjiao7.png" alt="" width="150px" height="150px">
            </div>
            <div class="fangyaun-share-content-buju">
                <div class="fangyaun-share-content-buju-left">
                    <img src="http://image.fangpaiwang.com/{$fenxiang_img[0]}" alt="">
                </div>
                <div class="fangyaun-share-content-buju-right">
                    <img src="http://image.fangpaiwang.com/{$fenxiang_img[1]}" alt="">
                    <img src="http://image.fangpaiwang.com/{$fenxiang_img[2]}" alt="">
                </div>
            </div>
            <div class="fangyaun-share-content-address">
                <img src="http://image.fangpaiwang.com/{$fenxiang_img[3]}" alt="">
                <img src="http://image.fangpaiwang.com/{$fenxiang_img[4]}" alt="">
            </div>
            <div class="fangyaun-share-content-info">
                <h2>{$info.title}
                {if $info.is_free==1 }<span class="ziyougou"><span class="ziyougou2">自由购</span> </span>{/if}
                </h2>
                <div class="chae">
                        <div class="chae1">
                            <p>差</p><p>额</p>
                        </div>
                       <div class="chae2">{$info.chajia}<span class="chae3">万</span></div>
                </div>
                <div class="jiage">
                    <div class="jiage1">
                        <li>
                            <span>成交价:</span>
                            <b class="shichangjia"><span>{$info.cjprice}</span>万</b>
                        </li>
                    </div>
                    <div class="jiage2" style="background-image:url('homeStatic/img/jiagebg2.png');">
                        <li class="jiage22">
                            <span>市场价:</span>
                            <b class="shichangjia">{$info.qp_price}万</b>
                        </li>
                    </div>
                </div>
                <ul>
                    <li>
                        <span>小区名称：</span>
                        <b>{$estate.title}</b>
                    </li>
                    <li>
                        <span>所在区域：</span>
                        <b>{$estate.area_name}</b>
                    </li>
                </ul>

            </div>
            <div class="fangyaun-share-content-huxing-chengjiao">
                <p>
                    户型：<span>{:getLinkMenuName(29,$info['toilet'])}</span>
                </p>
                <p>
                    面积：<span>{$info.acreage}㎡</span>
                </p>
                <p>
                    阶段：<span>{$info.jieduan_name}</span>
                </p>
                <p>
                    {$info.floor}层/共{$info.total_floor}层
                </p>
            </div>
            <div class="fangyaun-share-content-time-chengjiao">
                成交时间：<span>{$info.endtime}</span>
            </div>
            <div class="fangyaun-share-content-dashed">
                <div class="fangyaun-share-content-dashed-left-chengjiao"></div>
                <div class="fangyaun-share-content-dashed-center"></div>
                <div class="fangyaun-share-content-dashed-right-chengjiao"></div>
            </div>
            <div class="fangyaun-share-content-footer">
                <img src="/static/home/images/fuwuhao.jpg" alt="">
                <div class="fangyaun-share-content-footer-line"></div>
                <div class="fangyaun-share-content-footer-info">
                    <h2>微信长按识别二维码</h2>
                    <p>查看更多房源信息</p>
                </div>
            </div>
        </div>
    </div>
</div>
{else /}
<div class="fang_tuijian">
    <div><input type="button" id="SaveDownload" value="生成图片"></div>
    <div><img class="imgDiv_img" src="" /></div>
    <div class="fangyaun-share" id="body">
        <div class="fangyaun-share-header">
            <img src="{:getAvatar($login_user.id,90)}" data-original="{:getAvatar($login_user.id,90)}" alt="" class="fangyaun-share-header-touxiang lazy">
            <div class="fangyaun-share-header-phone">
                <h1>{$login_user.user_name}为您推荐</h1>
                <p>联系方式：<span>{$login_user.mobile}</span></p>
            </div>
            <div class="fangyaun-share-header-code">
                <img src="{$login_user.qr_code}" alt="">
            </div>
        </div>
        <div class="fangyaun-share-content">
            <div class="fangyaun-share-content-buju">
                <div class="fangyaun-share-content-buju-left">
                    <img src="http://image.fangpaiwang.com/{$fenxiang_img[0]}" alt="">
                </div>
                <div class="fangyaun-share-content-buju-right">
                    <img src="http://image.fangpaiwang.com/{$fenxiang_img[1]}" alt="">
                    <img src="http://image.fangpaiwang.com/{$fenxiang_img[2]}" alt="">
                </div>
            </div>
            <div class="fangyaun-share-content-address">
                <img src="http://image.fangpaiwang.com/{$fenxiang_img[3]}" alt="">
                <img src="http://image.fangpaiwang.com/{$fenxiang_img[4]}" alt="">
            </div>
            <div class="fangyaun-share-content-info">
                <h2>{$info.title}</h2>
                <ul>
                    <li>
                        <span>起拍价：</span>
                        <b class="qipaijia"><span>{$info.qipai|raw}</span>万</b>
                    </li>
                    <li>
                        <span>市场价：</span>
                        <b class="shichangjia">{$info.qp_price}万</b>
                    </li>
                    <li>
                        <span>捡漏指数：</span>
                        <b class="jianlou">
                            {for start="0" end="$info.marketprice"}
                            <img src="/static/images/img-14.png">
                            {/for}
                        </b>
                    </li>
                    <li>
                        <span>保证金：</span>
                        <b>{$info.baozheng}万</b>
                    </li>
                    <li>
                        <span>小区名称：</span>
                        <b>{$estate.title}</b>
                    </li>
                    <li>
                        <span>所在区域：</span>
                        <b>{$estate.area_name}</b>
                    </li>
                </ul>

            </div>
            <div class="fangyaun-share-content-huxing">
                <p>
                    户型：<span>{:getLinkMenuName(29,$info['toilet'])}</span>
                </p>
                <p>
                    面积：<span>{$info.acreage}㎡</span>
                </p>
                <p>
                    阶段：<span>{$info.jieduan_name}</span>
                </p>
            </div>
            <div class="fangyaun-share-content-time">
                起拍时间：<span>{$info.kptime}</span>
            </div>
            <div class="fangyaun-share-content-dashed">
                <div class="fangyaun-share-content-dashed-left"></div>
                <div class="fangyaun-share-content-dashed-center"></div>
                <div class="fangyaun-share-content-dashed-right"></div>
            </div>
            <div class="fangyaun-share-content-footer">
                <img src="/static/home/images/fuwuhao.jpg" alt="">
                <div class="fangyaun-share-content-footer-line"></div>
                <div class="fangyaun-share-content-footer-info">
                    <h2>微信长按识别二维码</h2>
                    <p>查看更多房源信息</p>
                </div>
            </div>
        </div>
    </div>
</div>
{/if}

<script>
    $("#SaveDownload").click(function () //点击"保存下载控件"
    {
        var height = $('#body').height()
        //克隆节点，默认为false，不复制方法属性，为true是全部复制。
        var cloneDom = $('#body').clone(true);
        //设置克隆节点的css属性，因为之前的层级为0，我们只需要比被克隆的节点层级低即可。
        cloneDom.css({
            "background-color": "white",
            "position": "absolute",
            "top": "0px",
            "z-index": "-1",
            "height": height
        });
        //将克隆节点动态追加到body后面。
        // $("#body").append(cloneDom);


        var newName = new Date().getTime().toString(16) + Math.ceil(Math.random() * 10000).toString(16);
        $(function() {
            html2canvas(document.querySelector("#body")).then(function(canvas) {
                //   octet-stream
                var imgUri = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"); // 获取生成的图片的url
                $(".imgDiv_img").attr("src",imgUri)

                var type = 'png';
                var imgData = canvas.toDataURL(type);
                imgData = imgData.replace(_fixType(type),'image/octet-stream');
                console.log(imgData);

                var filename = 'fangpaiwang_' + (new Date()).getTime() + '.' + type;
                saveFile(imgData,filename);
            })
        });
    })

    var _fixType = function(type) {
        type = type.toLowerCase().replace(/jpg/i, 'jpeg');
        var r = type.match(/png|jpeg|bmp|gif/)[0];
        return 'image/' + r;
    };
    var saveFile = function(data, filename){
        var save_link = document.createElementNS('http://www.w3.org/1999/xhtml', 'a');
        save_link.href = data;
        save_link.download = filename;
        var event = document.createEvent('MouseEvents');
        event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
        save_link.dispatchEvent(event);
    };
</script>
<script type="text/javascript" charset="UTF-8" src="//scripts.easyliao.com/11122/40727.js"></script>
</body>
</html>