{extend name='public/page_list' /}
{block name='content'}
<style>
    .num-content p{
        margin-top: 10px;
        line-height: 33px;
        text-indent:2em;
    }
</style>
<img src="/hd/1590394680596154.jpg" alt="" width="100%">
<div class="box">
    <div class="content">
        <p class="num-content">
            <h1>公司简介</h1>
            <p>北京金铂顺昌拍卖有限公司（简称“金铂顺昌”）成立于 2013 年，注册资金1000万，总部设在北京；主要从事不良资产处置，法拍房代拍，债权转让等业务。</p>
            <p>2005年创立金色家园房地产经纪公司，开启了不良房产的探索之路；截至目前公司已在不良房产行业运营15年，15年中公司总结了上千起成功解决风险的案例，为客户规避风险打下了良好的基础。</p>
            <p>2005年创立金色家园房地产经纪公司，开启了不良房产的探索之路；截至目前公司已在不良房产行业运营15年，15年中公司总结了上千起成功解决风险的案例，为客户规避风险打下了良好的基础。</p>
            <p>15年来，金铂顺昌一直走在行业前沿，并开创行业多项第一，公司在不良资产司法拍卖和债权转让等方面已形成独特且具有独到建树的成功模式。</p>
            <p>公司依托互联网优势，全力搭建金铂顺昌拍卖平台——“房拍网”经营内容涵盖房源信息，热门小区，法拍百科，地图找房，贷款工具，线上咨询金融服务等全链条业务，在房地产拍卖与投资领域处于领先地位。</p>
            <p>金铂顺昌拥有各领域尤其不良资产业界的顶尖人才，坚持“  客户至上、诚实可信、团队作战、拼搏进取”的核心价值观，以专业化的业务素养，严谨的风险控制体系，利用先进的不良资产交易理念，为客户实现安家梦。</p>
            <p>金铂顺昌各项业务依托于下属公司开展，分别为：</p>
            <p>北京金铂顺昌拍卖公司主要从事法拍房代拍业务；</p>
            <p>北京金铂顺昌资产管理公司主要从事债权转让业务；</p>
            <p>房拍在线网络科技公司，简称（房拍网）主要从事网站开发、APP运营；</p>
            <p>金色家园房地产经纪公司主要从事客户的购房资格审核，网签、核税等业务。</p>
        </div>
    </div>
</div>
{/block}