{extend name='public/page_list' /}
{block name='content'}
<style>
     .num-content p{
        margin-top: 10px;
        line-height: 33px;
        text-indent:2em;
    }
    .box{
        margin-top: 20px;
    }
</style>
<!--<img src="/hd/1590394680596154.jpg" alt="" width="100%">-->
<div class="box">
    <div class="content">
        <div class="num-content">
            <h2 style="line-height:40px;border-bottom: 1px solid #eee;"></h2>
            <h1 style="margin-left: 40%">公司简介</h1>
            <p>北京金铂顺昌拍卖有限公司（简称“金铂顺昌”）成立于 2013 年，注册资金1000万，总部设在北京；主要从事不良资产处置，法拍房代拍，债权转让等业务。</p>
            <p>2005年创立金色家园房地产经纪公司，开启了不良房产的探索之路；到今天公司已经在不良房产行业运营15年，15年中总结了上千起成功解决风险的案例，为客户规避风险打下了良好的基础。</p>
            <p>15年来，金铂顺昌一直走在行业前沿，并开创行业多项第一，公司在不良资产司法拍卖和债权转让等方面已形成独特且具有独到建树的成功模式。金铂顺昌拥有各领域尤其不良资产业界的顶尖人才，坚持“  客户至上、诚实可信、团队作战、拼搏进取”的核心价值观，以专业化的业务素养，严谨的风险控制体系，利用先进的不良资产交易理念，为客户实现安家梦。</p>
            <p>公司依托互联网优势，全力搭建金铂顺昌拍卖平台——“房拍网”经营内容涵盖房源信息，热门小区，法拍百科，地图找房，贷款工具，线上咨询金融服务等全链条业务，在房地产拍卖与投资领域处于领先地位。</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
{/block}