{extend name='public/page_list' /}
{block name='content'}
<style>
    .back_color{
        background: #f8f8fc;
    }
</style>
<div style="margin-top: 70px">
    <img src="__STATIC__/home/images/about_us/jieshao_1.jpg" alt="" width="100%">
    <div class="content">
        <img src="__STATIC__/home/images/about_us/jieshao_2.jpg" alt="" width="100%">
    </div>
</div>
<div class="back_color">
    <div class="content">
        <img src="__STATIC__/home/images/about_us/jieshao_3.jpg" alt="" width="100%">
    </div>
</div>
<div class="content">
    <img src="__STATIC__/home/images/about_us/jieshao_4.jpg" alt="" width="100%">
</div>
<div class="back_color">
    <div class="content">
        <img src="__STATIC__/home/images/about_us/jieshao_5.jpg" alt="" width="100%">
    </div>
</div>
<div class="content">
    <img src="__STATIC__/home/images/about_us/jieshao_6.jpg" alt="" width="100%">
    <img src="__STATIC__/home/images/about_us/jieshao_7.jpg" alt="" width="100%">
</div>

{/block}