
{extend name='public/page_list' /}
{block name='css'}
<link href="/tools/css/basic.css?v={:time()}" rel="stylesheet">
<link href="/tools/css/calculator.css?v={:time()}" rel="stylesheet">
<link href="/tools/css/loan.css?v={:time()}" rel="stylesheet">
<link rel="stylesheet"  href="/homeStatic/css/home_baike.css?v={:time()}">
{/block}
{block name='js'}
<script src="__STATIC__/js/layer/layer.js"></script>
{/block}
{block name='content'}
<div class="page_tit">
    <a href="javascript:;" rel="nofollow">您的位置：</a>
    <a href="{:url('Index/index')}">首页</a> &gt;
    <a href="javascript:void(0);">成交故事</a>
</div>

<div class="yzBox mar">
    <div class="midMain marTop3 clear">
        <div class="cjgs-one">
            <div class="cjgs-two">
                <img src="{$data.top.img}" class="cjgs-three">
                <div class="cjgs-four">
                    <div class="cjgs-wenzi">客户:{$data.top.customer_name}&nbsp;&nbsp;&nbsp;&nbsp;购买小区:{$data.top.community}</div>
                    <div class="cjgs-wenzi2">成交价<span>{$data.top.price}</span>万&nbsp;&nbsp;&nbsp;&nbsp;低于市场价<span>{$data.top.save_money}</span>万</div>
                    <div class="cjgs-wenzi3">{$data.top.description}</div>
                    <div class="cjgs-wenzi4">
                        <div class="div-left">法拍经理: <span class="span-left-zi">{$data.top.fapai_manager}</span></div>
                        <div class="div-right">服务咨询热线: 400 677 0028</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="qtgj-one">其它成交故事</div>
        <div class="qtgj-two">
            {volist name='data.list' id='vo'}
            <a href="/dealstory.html?id={$vo.id}">
                <div class="qtgj-three">
                    <img src="{$vo.img}" alt="{$vo.title}">
                    <div class="qtgj-five">
                        <span class="qtgj-span-one">A牌公寓</span>
                        <span class="qtgj-span-one">客户：崔先生</span>
                        <span class="qtgj-span-two">点击查看详情</span>
                    </div>
                </div>
            </a>
            {/volist}
        </div>
        <div class="qtgj-four"><span>所有照片及评论均获得用户本人独家授权，请勿转载!</span></div>
    </div>
</div>


<script>
    $('.qtgj-three').mouseenter(function() {
        $(this).children($('.qtgj-five')).show()
    })
    $('.qtgj-three').mouseleave(function() {
        $('.qtgj-five').hide()
    })
</script>
{/block}

