{extend name='public/page_list' /}
{block name='css'}
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/input.css">
<link rel="stylesheet" type="text/css" href="__CSS__/css.css">
<link rel="stylesheet" type="text/css" href="/homeStatic/css/common_orig.css?v=1">
<link rel="stylesheet" type="text/css" href="/homeStatic/css/news.css?v={:time()}">
{/block}
{block name='js'}
<script type="text/javascript" src="/homeStatic/js/new.js?v={:time()}"></script>
{/block}
{block name='content'}


<!-- 资讯 S-->
<section class="article_banner">
    {volist name="newPic" id="pic"}
    <a href="{$pic.setting['linkurl']}"><img src="{$pic.setting['fileurl']}" alt="{$pic.name}"></a>
    {/volist}
</section>
<div class="flash">
    <div class="con_wrap comWidth clearfix">
        <div class="page_tit page_tit_sec">

            <a href="javascript:;" rel="nofollow">您的位置：</a>

            <a href="{:url('Index/index')}">房拍网</a> &gt;

            <a href="javascript:void(0);">房源列表</a>
        </div>
        <div class="sub_nav">
            <ul>
                <li><a href="{:url('News/index')}" {if condition='$cate_id eq 0'}class="active"{/if}>全部</a></li>
                {volist name='cate' id='vo'}

                <li><a href="{:url('News/index',['cate'=>$vo['id']])}" {if condition='$cate_id eq $vo.id'}class="active"{/if}>{$vo.name}</a></li>

                {/volist}
            </ul>
        </div>
        <div class="leftArea cm_leftArea">
            <section class="ans">
                <ul class="ans_hot">
                    <a href="javascript:;">热门问题</a>
                    <a href="javascript:;">最新问题</a>
                </ul>
                <section class="search_key">
                    <form class="keyword_search" action="#">
                        <input type="text" placeholder="输入关键词搜索" class="art_keyword">
                        <button class="search_btn">搜索</button>
                    </form>
                </section>
            </section>
            <ul class="flash_list clearfix">
                {volist name='lists' id='vo' empty='暂无数据'}
                <li>

                    <a href="{:url('News/detail',['id'=>$vo['id']])}" target="_blank" title="{$vo.title}">

                        <div class="l_img fl">

                            <img src="/static/images/nopic.jpg" data-original="{:thumb($vo['img'],160,110)}" class="lazy" alt="{$vo.title}">

                        </div>

                        <div class="r_con fr">

                            <h3>{$vo.title}</h3>

                            <p class="desc">{$vo.description}</p>

                            <div class="f_box">

                                <span class="time">{:getTime($vo['create_time'])}</span>

                                <span class="view">{$vo.hits}</span>

                            </div>

                        </div>

                    </a>

                </li>
                {/volist}
            </ul>

            {notempty name='pages'}

            <div class="page_list clearfix">

                {$pages|raw}

            </div>

            {/notempty}

        </div>

        <div class="rightArea cm_rightArea ">

            {include file='news/new_right' /}

        </div>

    </div>

</div>
<!-- 资讯 E-->
<script src="__STATIC__/js/plugins/jquery.lazyload.js"></script>
<!--<script type="text/javascript" src="__JS__/common.js"></script>-->
<script src="__STATIC__/js/layer/layer.js"></script>
<!--客服-->
<!--<script type="text/javascript" charset="utf-8" src="http://op.jiain.net/20004320/10112244.js"></script>-->
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
</script>
{/block}
<!--<script language="javascript" src="http://pht.zoosnet.net/JS/LsJS.aspx?siteid=PHT64402395&float=1&lng=cn"></script>-->