<div class="fangpai-footer">
    <div class="footer-erweima">
        <div class="footer-right">
            <p>全国服务咨询热线:</p>
            <p class="footer-phone">{$site.telphone}</p>
            <p>地址：{$site.address}</p>
        </div>
        <div class="footer-left">
            <img src="{$site.weixin_qrcode}" alt="">
            <div class="footer-left-saoyisao">
                <p>扫一扫</p>
                <p>关注我们</p>
            </div>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-about">
        <div class="footer-about-left">
            {volist name='footer_nav' id='vo'}
            <span><a href="{$vo.url}">{$vo.title}</a></span>|
            {/volist}
        </div>
        <div class="footer-about-right">
            {$site.icp}
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-about">
        <div class="footer-about-left">
            <a href="javascript:;" style="text-decoration: none;color:#fff;">友情链接：</a>
            {volist name='link' id='vo'}
            <span><a href="{$vo.url}">{$vo.name}</a></span>
            {/volist}
        </div>
        <div class="footer-about-right">
            <a href="javascript:;" style="text-decoration: none;color:#fff;">友联交换：</a>
            <span>sales@fangpaiwang.com</span>
        </div>
    </div>

</div>