<div class="fangpai-footer">
    <div class="footer-tab-nav">
        <div class="footer-tab-nav-tap active">捡漏房源</div>
        <div class="footer-tab-nav-tap">热门房产</div>
        <div class="footer-tab-nav-tap">热门小区</div>
        <div class="footer-tab-nav-tap">热门页面</div>
        {if condition="$model_url == 'home/Index@index'"}
        <div class="footer-tab-nav-tap">友情链接</div>
        {/if}
    </div>
    <div class="footer-line-button" style="margin-top: 26px"></div>

    <div class="fapai-footer-tab-content"  style="color:#fff;">
        <div class="fapai-footer-tab-item fapai-footer-tab-item-active">
            {volist name='footer_jianlou_house' id='vo'}
            <span><a href="{:url('News/detail',['id'=>$vo['id']])}">{$vo.abbreviation}</a></span>
            {/volist}
        </div>
        <div class="fapai-footer-tab-item">
            {volist name='people_house' id='vo'}
            <span><a href="{:url('News/detail',['id'=>$vo['id']])}">{$vo.abbreviation}</a></span>
            {/volist}
        </div>
        {if condition="$model_url == 'home/Index@index'"}
            <div class="fapai-footer-tab-item">
                {volist name='footer_estate' id='vo'}
                <span><a href="{:url('Estate/detail',['id'=>$vo['id']])}">{$vo.title}</a></span>
                {/volist}
            </div>
        {/if}
        <div class="fapai-footer-tab-item">
            <span><a href="/erf-39-0-0-0-0-0-45-0-0-0-0-0-1/types/0/jieduan/0/fcstatus/0/is_free/0/time_frame/0/end_time/0.html">司法房产</a></span>
            <span><a href="/erf-39-0-0-0-0-0-48-0-0-0-0-0-1/types/0/jieduan/0/fcstatus/0/is_free/0/time_frame/0/end_time/0.html">社会委托</a></span>
            <span><a href="/erf-39-0-0-0-0-0-0-0-0-0-0-0-1/types/18334/jieduan/0/fcstatus/0/is_free/0/time_frame/0/end_time/0.html">住宅/公寓</a></span>
            <span><a href="/extension-5.html">豪宅别墅</a></span>
            <span><a href="/erf-39-0-0-0-0-0-0-0-0-0-0-0-1/types/18333/jieduan/0/fcstatus/0/is_free/0/time_frame/0/end_time/0.html">商办</a></span>
            <span><a href="/extension-2.html">六折房源</a></span>
            <span><a href="/extension-4.html">一口价房源</a></span>
            <span><a href="/extension-3.html">学校周边</a></span>
            <span><a href="/extension-1.html">重点推荐</a></span>
        </div>
        <div class="fapai-footer-tab-item">
            {volist name='link' id='vo'}
            <span><a href="{$vo.url}">{$vo.name}</a></span>
            {/volist}
        </div>
    </div>
    <div class="footer-about">
        <div class="footer-about-left">
            {volist name='footer_nav' id='vo'}
            <span><a href="{$vo.url}">{$vo.title}</a></span>
            {/volist}
        </div>
    </div>


    <div class="footer-erweima">
        <div class="footer-right">
            <p>全国服务咨询热线:</p>
            <p class="footer-phone">{$site.telphone}</p>
            <p>地址：{$site.address}</p>
        </div>
        <div class="footer-middle">
            <div class="website_authentication">
                <a id="_xinchacharenzheng_cert_vip_webanquan" style="text-decoration:none;" target="_blank" href="https://xyt.xinchacha.com/pcinfo?sn=423735417087594496&certType=1"> <img src="https://xyt.xinchacha.com/img/icon/icon5.png" > </a>
            </div>
            <div class="website_authentication">
                <a id="_pingansec_bottomimagesmall_shiming" target="_blank" href="//si.trustutn.org/info?sn=730200609039498807174&certType=1"><img src="//v.trustutn.org/images/cert/realname_small_img.png"/></a>
            </div>
        </div>
        <div class="footer-middle">
        </div>
        <div class="footer-middle">
        </div>
        <div class="footer-left">
            <div>
                <img src="{$site.weixin_qrcode}" alt="">
                <span class="footer-left-saoyisao">关注服务号</span>
            </div>
            <div>
                <img src="{$site.weixin_qrcode}" alt="">
                <span class="footer-left-saoyisao">关注订阅号</span>
            </div>
        </div>
    </div>
    <!--<div class="footer-line"></div>-->


    <div class="footer-line"></div>
    <div class="footer-about">
        <div class="footer-about-left">
            {$site.icp}
        </div>
        <div class="footer-about-right">
            <a href="javascript:;" style="text-decoration: none;color:#fff;">友联交换：</a>
            <span>sales@fangpaiwang.com</span>
        </div>
    </div>

</div>