<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>{$seo.title}</title>
    <meta name="keywords" content="{$seo.keys}" />
    <meta name="description" content="{$seo.desc}" />
    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__STATIC__/js/mobile/font-size.js"></script>
    <link rel="stylesheet" href="__STATIC__/mobile/css/base.css">
    <link rel="stylesheet" href="__STATIC__/mobile/css/style.css">
</head>
<body>
{block name='header'}
{/block}
{block name='content'}{/block}
</body>
</html>