{extend name='public/page_list' /}
{block name='css'}
    <link rel="stylesheet"  href="/homeStatic/css/swiper.min.css">
    <link rel="stylesheet"  href="/homeStatic/css/home_baike.css?v={:time()}">
{/block}

{block name='js'}
    <script src="/homeStatic/js/swiper.jquery.min.js"></script>
    <script src="/homeStatic/js/swiper.min.js"></script>
    <script src="/homeStatic/js/jquery.countup.min.js"></script>
    <script src="/homeStatic/js/jquery.waypoints.min.js"></script>
    <script src="/homeStatic/js/home.js"></script>
    <script src="/homeStatic/js/lunbo.js"></script>
    <!--<script type="text/javascript" src="__STATIC__/js/layer/laytpl.js"></script>-->
{/block}
{block name='content'}
<style>
    .swiper-pagination-bullet{
        width:15px;
        height:15px;
        background:#fff;
        margin:0 5px;
    }
</style>
<div class="header" style="margin-top: 70px">
    <div class="header-swiper-container">
        <div class="swiper-wrapper">
            {volist name='top_bunner' id='vo'}
            <div class="swiper-slide">
                <img src="{$vo.fileurl}" src="{$vo.fileurl}" alt="{$vo.alt}" >
            </div>
            {/volist}
        </div>
        <!--<div class="swiper-button-prev"></div>-->
        <!--<div class="swiper-button-next"></div>-->
        <div class="swiper-pagination"></div>
    </div>
    <div class="header-search">
        <ul class="header-search-nav" style="margin-bottom: 0px">
            <li class="active" data-value="">全部</li>
            <li>住宅</li>
            <li>商办</li>
            <li>别墅</li>
            <li>平房·四合院</li>
            <li>写字楼</li>
        </ul>
        <form action="{:url('Second/index')}">
            <div class="header-search-input">
                <input type="hidden" name="types" id="index_cid" value="0">
                <input type="text" class="s-inp fl" id="keyword" name="keyword" placeholder="" autocomplete="off" placeholder="输入小区名称/房源名称/法拍专员名称" data-uri="{:url('Ajax/searchSecond')}" class="ipt"; onClick='showhidediv("baip")';>
                <span class="header-search-button"> <img src="/homeStatic/img/search-button.png" src="/homeStatic/img/search-button.png" alt=""><a href="/map/second.html?mod5=6" style="text-decoration:none"> 地图找房</a> </span>
                <span class="header-search-button"><input type="submit" name="" class="s-btn fl" id="huiches" value="开始找房"></span>
            </div>
        </form>
        <ul id="search-boxs">
        </ul>
        <!--overflow: hidden;-->
        <div id="baip">
            <ul class="saleDetail" style="padding-left:10px;">
                <li style="color: #666;padding-top:5px;padding-bottom:5px;">搜索历史</li>
            </ul>
            <ul class="saleDetail history" style="padding-left:10px;"></ul>
            <div class="Storage"></div>
            <div class="h80"></div>
            <div class="btnEmpty" style="padding-left:10px;padding-top:5px;padding-bottom:5px;">清空历史搜索</div>
        </div>
    </div>
</div>

<div class="box">
    <div class="content">
        <div class="num-content">
            <ul class="num-ul">
                <li>
                    <img src="/homeStatic/img/jjpm.png" src="/homeStatic/img/jjpm.png" alt="">
                    <p class="num-detail">
                        <span class="num-a">{$statistics_num.soon_num}</span>套
                    </p>
                    <div class="num-line"></div>
                    <div class="num-info">
                        即将拍卖
                    </div>
                </li>
                <li>
                    <img src="/homeStatic/img/zzjx.png" src="/homeStatic/img/zzjx.png" alt="">
                    <p class="num-detail">
                        <span class="num-a">{$statistics_num.underway_num}</span>套
                    </p>
                    <div class="num-line"></div>
                    <div class="num-info">
                        正在进行
                    </div>
                </li>
                <li>
                    <img src="/homeStatic/img/jrxz.png" src="/homeStatic/img/jrxz.png" alt="">
                    <p class="num-detail">
                        <span class="num-a">{$statistics_num.add_num}</span>套
                    </p>
                    <div class="num-line"></div>
                    <div class="num-info">
                        今日新增
                    </div>
                </li>
                <li>
                    <img src="/homeStatic/img/jrcj.png" src="homeStatic/img/jrcj.png" alt="">
                    <p class="num-detail">
                        <span class="num-a">{$statistics_num.deal_num}</span>套
                    </p>
                    <div class="num-line"></div>
                    <div class="num-info">
                        今日成交
                    </div>
                </li>
            </ul>
        </div>
        <div class="tuijian-fangyuan">
            <h2 class="tuijian-fangyuan-title">北京法拍房源推荐</h2>
            <div class="tuijian-fangyuan-info">金铂顺昌精心挑选北京低价优质法拍房源 低于市场价30%起</div>
            <ul class="tuijian-fangyuan-detail">
                {volist name='recommend_house' id='vo'}
                <li data-id="{$vo.id}" style="cursor: pointer;">
                    <spam>
                        <span style="display: none">{$toilet = getLinkMenuName(29,$vo['toilet'])}</span>
                    </spam>
                    <img src="{$vo.img}" alt="{$vo.title}">
                    <div class="tuijian-fangyuan-prompt">
                        {if condition="getLinkMenuName(29,$vo['toilet']) =='一室' ||  getLinkMenuName(29,$vo['toilet']) =='两室'"}
                            {if condition="getLinkMenuName(29,$vo['toilet'])"}
                            <p>
                                <img src="/homeStatic/img/shi.png" src="/homeStatic/img/shi.png" alt="">
                                <!--<span>2室</span>-->
                                <span>{:getLinkMenuName(29,$vo['toilet'])}</span>
                            </p>
                            {/if}
                        {else}
                            {if condition="getLinkMenuName(29,$vo['toilet']) =='独栋' ||  getLinkMenuName(29,$vo['toilet']) =='多居' ||
                        getLinkMenuName(29,$vo['toilet']) =='土地' ||  getLinkMenuName(29,$vo['toilet']) =='厂房'"}
                                <p>
                                    <img src="/homeStatic/img/business.png" src="/homeStatic/img/business.png" alt="">
                                    <!--<span>2室</span>-->
                                    <span>{:getLinkMenuName(29,$vo['toilet'])}</span>
                                </p>
                            {else}
                                {if condition="mbsubstr($toilet,0,2)"}
                                <p>
                                    <img src="/homeStatic/img/shi.png" src="/homeStatic/img/shi.png" alt="">
                                    <!--<span>2室</span>-->
                                    <span>{:mbsubstr($toilet,0,2)}</span>
                                </p>
                                {/if}
                                {if condition="mbsubstr($toilet,2,4)"}
                                <p>
                                    <img src="/homeStatic/img/ting.png" alt="" src="/homeStatic/img/ting.png">
                                    <span>{:mbsubstr($toilet,2,4)}</span>
                                </p>
                                {/if}
                            {/if}
                        {/if}
                        <p>
                            <img src="/homeStatic/img/nanbei.png" src="/homeStatic/img/nanbei.png" alt="">
                            <span>{:getLinkMenuName(4,$vo['orientations'])}</span>
                        </p>
                        <p>
                            <img src="/homeStatic/img/size.png" src="/homeStatic/img/size.png" alt="">
                            <span>{$vo.acreage}㎡</span>
                        </p>
                    </div>

                    <div class="tuijian-fangyuan-address">
                        {$vo.title}
                    </div>
                    <div class="tuijian-fangyuan-monty">
                        <p>
                            起拍价：
                            <span class="tuijian-fangyuan-monty-qi"><b>{$vo.qipai}</b>万</span>
                        </p>
                        <p>
                            市场价：
                            <span class="tuijian-fangyuan-monty-shi"><b>{$vo.price}</b>万</span>
                        </p>
                    </div>
                    <div class="tuijian-fangyuan-footer">
                        <p style="margin:7px 0 10px">开拍时间：</p>
                        <span class="tuijian-fangyuan-time" style="letter-spacing:3px">{$vo['kptime']}</span>
                    </div>
                </li>
                {/volist}
            </ul>
        </div>
        <div class="gengduo tuijian_list">
            <span>更多北京法拍房源推荐</span>
        </div>
        <div class="fapaidai">
            <a href="{$waist_bunner.linkurl}"><img src="{$waist_bunner.fileurl}"  alt="{$waist_bunner.alt}"></a>
        </div>
        <div class="tuijian-fangyuan">
            <h2 class="tuijian-fangyuan-title">北京法拍房源捡漏</h2>
            <div class="tuijian-fangyuan-info">金铂顺昌专注北京法拍房15年 千套成交案例 规避行业风险 安心捡漏</div>
            <ul class="tuijian-fangyuan-detail">
                {volist name='jianlou_house' id='vo'}
                <li data-id="{$vo.id}" style="cursor: pointer;">
                    <spam>
                        <span style="display: none">{$toilet = getLinkMenuName(29,$vo['toilet'])}</span>
                    </spam>
                    <img  src="{$vo.img}" alt="{$vo.title}">
                    <div class="tuijian-fangyuan-prompt">
                        {if condition="getLinkMenuName(29,$vo['toilet']) =='一室' ||  getLinkMenuName(29,$vo['toilet']) =='两室'"}
                            {if condition="getLinkMenuName(29,$vo['toilet'])"}
                            <p>
                                <img src="/homeStatic/img/shi.png" src="/homeStatic/img/shi.png" alt="">
                                <!--<span>2室</span>-->
                                <span>{:getLinkMenuName(29,$vo['toilet'])}</span>
                            </p>
                            {/if}
                        {else}
                            {if condition="getLinkMenuName(29,$vo['toilet']) =='独栋' ||  getLinkMenuName(29,$vo['toilet']) =='多居' ||
                        getLinkMenuName(29,$vo['toilet']) =='土地' ||  getLinkMenuName(29,$vo['toilet']) =='厂房'"}
                                <p>
                                    <img src="/homeStatic/img/business.png" src="/homeStatic/img/business.png" alt="">
                                    <!--<span>2室</span>-->
                                    <span>{:getLinkMenuName(29,$vo['toilet'])}</span>
                                </p>
                            {else}
                                {if condition="mbsubstr($toilet,0,2)"}
                                <p>
                                    <img src="/homeStatic/img/shi.png" src="/homeStatic/img/shi.png" alt="">
                                    <!--<span>2室</span>-->
                                    <span>{:mbsubstr($toilet,0,2)}</span>
                                </p>
                                {/if}
                                {if condition="mbsubstr($toilet,2,4)"}
                                <p>
                                    <img src="/homeStatic/img/ting.png" alt="" src="/homeStatic/img/ting.png">
                                    <span>{:mbsubstr($toilet,2,4)}</span>
                                </p>
                                {/if}
                            {/if}
                        {/if}
                        <p>
                            <img src="/homeStatic/img/nanbei.png" src="/homeStatic/img/nanbei.png" alt="">
                            <span>{:getLinkMenuName(4,$vo['orientations'])}</span>
                        </p>
                        <p>
                            <img src="/homeStatic/img/size.png" src="/homeStatic/img/size.png" alt="">
                            <span>{$vo.acreage}㎡</span>
                        </p>
                    </div>

                    <div class="tuijian-fangyuan-address">
                        {$vo.title}
                    </div>
                    <div class="tuijian-fangyuan-monty">
                        <p>
                            起拍价：
                            <span class="tuijian-fangyuan-monty-qi"><b>{$vo.qipai}</b>万</span>
                        </p>
                        <p>
                            市场价：
                            <span class="tuijian-fangyuan-monty-shi"><b>{$vo.price}</b>万</span>
                        </p>
                    </div>
                    <div class="tuijian-fangyuan-footer">
                        <p style="margin:7px 0 10px">开拍时间：</p>
                        <span class="tuijian-fangyuan-time" style="letter-spacing:3px">{$vo['kptime']}</span>
                    </div>
                </li>
                {/volist}
            </ul>
        </div>
        <div class="gengduo jianlou_list">
            <span>更多北京法拍捡漏房源</span>
        </div>
        <div class="fapaidai">
            <a href="{$waist_bunner.linkurl}"><img src="{$waist_bunner.fileurl}"  alt="{$waist_bunner.alt}"></a>
        </div>
        <div class="tuijian-fangyuan">
            <h2 class="tuijian-fangyuan-title">热门小区</h2>
            <div class="tuijian-fangyuan-info">金铂顺昌房拍网精心为您挑选北京热门优质小区</div>

            <div class="mingxing-swiper-container">
                <div class="swiper-wrapper">
                    {volist name='quality_estate' id='vo'}
                    <div class="swiper-slide">
                        <div class="mingxing-slide-detail">
                            <span style="display: none">{$vo.id}</span>
                            <a href="{:url('Estate/detail',['id'=>$vo.id])}"><img src="{$vo.img}" src="{$vo.img}"  alt="{$vo.title}"></a>
                            <p>【{$vo.area_name}】 {$vo.title}</p>
                            <div class="mingxing-slide-detail-info">
                                <span>拍卖房源<b>{$vo.second_total}</b>套 </span>
                                <span class="mingxing-slide-detail-info-color">{$vo.price}元/㎡</span>
                            </div>
                        </div>
                    </div>
                    {/volist}
                </div>
                <!-- Add Pagination -->
                <div class="mingxing-swiper-scrollbar"></div>
            </div>
        </div>
        <div class="tuijian-fangyuan">
            <h2 class="tuijian-fangyuan-title">法拍房竞拍流程</h2>
            <div class="tuijian-fangyuan-info">金铂顺昌30秒教您了解北京法拍房拍卖流程</div>
            <img src="{$flow_chart.fileurl}" alt="{$flow_chart.fileurl}" class="jingpailiucheng-img">
        </div>
        <div class="tuijian-fangyuan">
            <h2 class="tuijian-fangyuan-title">北京特色法拍房源</h2>
            <div class="tuijian-fangyuan-info">金铂顺昌推荐北京各种特色司法拍卖房产，更能满足您对法拍房个性化需求</div>
        </div>
        <div class="tese-img-list">
            <div class="img-list-left">
                {volist name='ts_left_banner' id='vo'}
                <a href="{$vo.linkurl}"><img src="{$vo.fileurl}"  alt="{$vo.alt}"></a>
                {/volist}
            </div>
            <div class="img-list-right">
                <div class="img-list-right-top">
                    {volist name='ts_right_banner' id='vo'}
                    <a href="{$vo.linkurl}"><img src="{$vo['fileurl']}"  alt="{$vo['alt']}"></a>

                    {/volist}
                </div>
                <div class="img-list-right-bottom">
                    {volist name='ts_right_lower_banner' id='vo'}
                    <a href="{$vo.linkurl}"><img src="{$vo['fileurl']}"  alt="{$vo['alt']}"></a>
                    {/volist}
                </div>
            </div>
        </div>

        <div class="tuijian-fangyuan">
            <h2 class="tuijian-fangyuan-title">金铂顺昌房拍网优势</h2>
            <div class="tuijian-fangyuan-info">了解金铂顺昌房拍网优势，让您购买法拍房更安心</div>
        </div>
        <div class="fangpai-youshi">
            <ul class="fangpai-youshi-list">
                <li>
                    <img src="/homeStatic/img/jingyan.png" alt="15年法拍房从业经验" >
                    <p class="fangpai-youshi-title">15年法拍房从业经验</p>
                    <div class="fangpai-youshi-info">
                        金铂顺昌房拍网专业从事北京法拍房15年，千套成交案例，全面规避风险
                    </div>
                </li>
                <li>
                    <img  src="/homeStatic/img/jiaoyi.png" alt="专业二手房交易"  >
                    <p class="fangpai-youshi-title">专业二手房交易</p>
                    <div class="fangpai-youshi-info">
                        金铂顺昌房拍网专门为您安排五年以上从业经验拍卖经理，提供整套拍卖服务
                    </div>
                </li>
                <li>
                    <img src="/homeStatic/img/renmai.png" alt="广阔的人脉关系" >
                    <p class="fangpai-youshi-title">广阔的人脉关系</p>
                    <div class="fangpai-youshi-info">
                        金铂顺昌房拍网15年从业经验，与相关部门保持良好沟通，标地报告更详细，客户资金更安全
                    </div>
                </li>
                <li>
                    <img src="/homeStatic/img/jinrong.png" alt="法拍金融服务" >
                    <p class="fangpai-youshi-title">法拍金融服务</p>
                    <div class="fangpai-youshi-info">
                        法拍贷、经营贷、应急贷等法拍房相关金融服务，提供应急资金，解决您的后顾之忧
                    </div>
                </li>
            </ul>
        </div>

        <div class="tuijian-fangyuan">
            <h2 class="tuijian-fangyuan-title">成交故事</h2>
            <div class="tuijian-fangyuan-info">金铂顺昌房拍网从事北京法拍房十五载春秋，积累千套成功案例，精益求精臻于至善</div>
        </div>
        <div class="cjgs-div-one">
            {volist name='deal_story' id='vo'}
            <a href="/dealstory.html?id={$vo.id}">
                <div class="cjgs-div-two">
                    <div class="cjgs-div-three"><img src="{$vo.img}" class="cjgs-img"></div>
                    <div class="cjgs-div-four">
                        <div class="cjgs-title-wenzi">{$vo.customer_name}</div>
                        <div class="cjgs-title-wenzi2">成交价<span>{$vo.price}</span>万&nbsp;&nbsp;&nbsp;&nbsp;低于市场价<span>{$vo.save_money}</span>万</div>
                        <div class="cjgs-title-wenzi3">{$vo.description}</div>
                        <div class="cjgs-title-wenzi4"><span class="span-left">购买小区: {$vo.community}</span><span class="span-right">法拍经理: {$vo.fapai_manager}</span></div>
                    </div>
                </div>
            </a>
            {/volist}
        </div>
        <a href="/dealstory.html"><div class="gengduo ">
            <span>更多北京法拍房成交案例</span>
        </div></a>

        <div class="tuijian-fangyuan">
            <h2 class="tuijian-fangyuan-title">法拍房百科</h2>
            <div class="tuijian-fangyuan-info">了解最新法拍房行业资讯，掌握更多法拍房拍卖攻略</div>
        </div>

        <div class="fapai-baike-tab-one">
                <div class="baike-one active"><span class="baike-two">成交案例</span></div>
                <div class="baike-one"><span class="baike-two">法拍资讯</span></div>
                <div class="baike-one"><span class="baike-two">法拍问答</span></div>
                <div class="baike-one"><span class="baike-two">法拍百科</span></div>
        </div>


        <div class="fapai-baike-tab-two">
            <div class="fapai-baike-list-tag fapai-baike-list-tag-active">
                {volist name='transaction_cases' id='vo'}
                <a href="{:url('News/detail',['id'=>$vo['id']])}">
                    <div class="fapai-baike-list">
                        <img src="{$vo.img}" alt="" class="img">
                        <div class="title-one"><p class="wenzi">{$vo.title}</p><span class="spanclass"></span></div>
                        <div class="title-two">{$vo.description}</div>
                        <div class="title-detail">查看详情</div>
                    </div></a>
                {/volist}
            </div>
            <div class="fapai-baike-list-tag">
                {volist name='real_time_info' id='vo'}
                <a href="{:url('News/detail',['id'=>$vo['id']])}">
                <div class="fapai-baike-list">
                    <img src="{$vo.img}" alt="" class="img">
                    <div class="title-one"><p class="wenzi">{$vo.title}</p><span class="spanclass"></span></div>
                    <div class="title-two">{$vo.description}</div>
                    <div class="title-detail">查看详情</div>
                </div></a>
                {/volist}
            </div>
            <div class="fapai-baike-list-tag">
                {volist name='news_wd' id='vo'}
                <a href="{:url('News/detail',['id'=>$vo['id']])}">
                    <div class="fapai-baike-list">
                        <img src="{$vo.img}" alt="" class="img">
                        <div class="title-one"><p class="wenzi">{$vo.title}</p><span class="spanclass"></span></div>
                        <div class="title-two">{$vo.description}</div>
                        <div class="title-detail">查看详情</div>
                    </div></a>
                {/volist}
            </div>
            <div class="fapai-baike-list-tag">
                {volist name='news_strategy' id='vo'}
                <a href="{:url('News/detail',['id'=>$vo['id']])}">
                    <div class="fapai-baike-list">
                        <img src="{$vo.img}" alt="" class="img">
                        <div class="title-one"><p class="wenzi">{$vo.title}</p><span class="spanclass"></span></div>
                        <div class="title-two">{$vo.description}</div>
                        <div class="title-detail">查看详情</div>
                    </div></a>
                {/volist}
            </div>
        </div>

        <a href="/news.html">
            <div class="gengduo">
                 <span>更多法拍房资讯</span>
            </div>
        </a>


        <div class="tuijian-fangyuan">
            <h2 class="tuijian-fangyuan-title">企业荣誉</h2>
            <div class="tuijian-fangyuan-info">每一块荣誉牌匾无不证明金铂顺昌房拍网辉煌经历及高要求的准则</div>
        </div>
        <div class="fpw_content_rongyu_img" style="margin: 30px 0">
            <img src="/uploads/manual/promote/ry_beipai.jpg" alt="北京拍卖行业协会" >
            <img src="/uploads/manual/promote/ry_fangcanxiehui.jpg" alt="中国房地产业协会" >
            <img src="/uploads/manual/promote/ry_fangzhong.jpg" alt="北京房地产中介行业协会" >
            <img src="/uploads/manual/promote/ry_hailun.jpg" alt="北京海伦律师事务所" >
            <img src="/uploads/manual/promote/ry_jingyun.jpg" alt="北京市景运律师事务所" >
            <img src="/uploads/manual/promote/ry_paimai.jpg" alt="拍卖经营批准证书" >
        </div>
        <div class="tuijian-fangyuan">
            <h2 class="tuijian-fangyuan-title">金铂顺昌十大安心承诺</h2>
            <div class="tuijian-fangyuan-info">金铂顺昌帮您规避法拍房风险、解决您的后顾之忧，让您购买法拍房更安心</div>
        </div>
        <div class="fangpai-chengnuo" id="fangpai-chengnuo-list">
            <img src="/homeStatic/img/lunboLeft.png" alt="" src="/homeStatic/img/lunboLeft.png" class="fangpai-chengnuo-left">
            <div class="fangpai-chengnuo-list">

                {volist name='promise_banner' id='vo'}
                <div class="fangpai-chengguo-list-detail">
                    <img alt="{$vo.alt}" src="{$vo.fileurl}" class="fangpai-chengnuo-list-img">
                </div>
                {/volist}
            </div>
            <img src="/homeStatic/img/lunboRight.png" alt="" src="/homeStatic/img/lunboRight.png" class="fangpai-chengnuo-right">
        </div>



    </div>
</div>
<!--<div class="footers_banner">-->
    <!--<img src="__STATIC__/home/images/banner/footers.png" alt="首届法拍节">-->
    <!--<img src="/homeStatic/img/jiahao.png" class="close_banner" alt="">-->
<!--</div>-->
<script type="text/html" id="template">
    {{# for(var i = 0, len = d.length; i < len; i++){ }}
    <li style="padding: 5px 0;">
        <a href="{{d[i].url}}" target="_blank" style="text-decoration: none; color: #333;  outline: none;">
            <span>
                 {{d[i].title}}
            </span>
            <span class="address" style="color: #999;">
                {{d[i].address}}
            </span>
        </a>
    </li>
    {{# } }}
</script>
<script>
    $('.tuijian-fangyuan-detail li').on('click', function () {
        var house_id = $(this).attr('data-id');
        window.open("/erf-"+house_id+".html");
    })
</script>

{/block}