{extend name='public/page_list' /}
{block name='css'}
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
<link rel="stylesheet" href="./homeStatic/css/common_orig.css?v={:time()}">
<link rel="stylesheet" href="./homeStatic/css/css_orig.css?v={:time()}">
<link rel="stylesheet" type="text/css" href="__CSS__/input.css">
<link rel="stylesheet" type="text/css" href="__CSS__/css.css">
{/block}
{block name='js'}
<script src="__STATIC__/js/plugins/jquery.lazyload.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script src="__STATIC__/js/layer/layer.js"></script>
{/block}
{block name='content'}
<style type="text/css">
    .topBar{background: linear-gradient(#ffffff, #e3e3e3);box-shadow:1px 2px 2px #888}
    .nav_list{background: linear-gradient(#ffffff, #e3e3e3);}
    .navBar .nav_list a { color: #000;}
</style>
<!-- 内容 S-->
<div class="cm_house agent_detail" style="margin-top: 70px">
    <div class="comWidth ">
        <div class="main clearfix">
            <div class="agent_info cm_rightArea fl">
                {include file='broker/userinfo' /}
            </div>
            <!-- 二手房列表 S -->
            <div class="houseList_wrap fr cm_leftArea">
                <div class="head clearfix">
                    {include file='broker/nav' /}
                </div>
                <div class="list_con sh_house_list">
                    <ul class="clearfix">
                        {volist name='lists' id='vo' empty='暂无数据'}
                        <li>
                            <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                                {if $vo['fcstatus'] eq 169}

                                <div class="zzjx fix abs" style=""><img src="/static/images/status/status2.png" original="/static/images/status/status2.png" style="width:104px;height:43px;float: right;position: absolute;z-index: 55555;margin-left: 186px;"></div>
                                {/if}
                                {if $vo['fcstatus'] eq 170}
                                <div class="zzjx fix abs" style=""><img src="/static/images/status/status1.png" original="/static/images/status/status1.png" style="width:104px;height:43px;float: right;position: absolute;z-index: 55555;margin-left: 186px;"></div>
                                {/if}
                                {if $vo['fcstatus'] eq 171}
                                <div class="zzjx fix abs" style=""><img src="/static/images/status/status3.png" original="/static/images/status/status3.png" style="width:104px;height:auto;float: right;position: absolute;z-index: 55555;margin-left: 105px;  margin-top: 40px;"></div>
                                {/if}
                                {if $vo['fcstatus'] eq 172}
                                <div class="zzjx fix abs" style=""><img src="/static/images/status/status4.png" original="/static/images/status/status3.png" style="width:104px;height:auto;float: right;position: absolute;z-index: 55555;margin-left: 105px;  margin-top: 40px;"></div>
                                {/if}
                                {if $vo['fcstatus'] eq 173}
                                <div class="zzjx fix abs" style=""><img src="/static/images/status/status5.png" original="/static/images/status/status3.png" style="width:104px;height:auto;float: right;position: absolute;z-index: 55555;margin-left: 105px;  margin-top: 40px;"></div>
                                {/if}
                                {if $vo['fcstatus'] eq 174}
                                <div class="zzjx fix abs" style=""><img src="/static/images/status/status6.png" original="/static/images/status/status3.png" style="width:104px;height:auto;float: right;position: absolute;z-index: 55555;margin-left: 105px;  margin-top: 40px;"></div>
                                {/if}
                                {if $vo['fcstatus'] eq 175}
                                <div class="zzjx fix abs" style=""><img src="/static/images/status/status7.png" original="/static/images/status/status3.png" style="width:104px;height:auto;float: right;position: absolute;z-index: 55555;margin-left: 105px;  margin-top: 40px;"></div>
                                {/if}
                                <span class="l_img fl" style="height: 185px;">
									<img src="{$vo.img}" onerror="this.src='/static/images/nopic.jpg'" alt="{$vo.title}">
								</span>
                                <span class="r_con fr" style=" width: 515px;">
									<h3>{:msubstr(strip_tags($vo['title']),0,22)}</h3>
									<p>
                                        <span class="info">{:getLinkMenuName(29,$vo['toilet'])}</span>
                                        <!-- <span class="info">{$vo.room}室1{$vo.living_room}厅{$vo.toilet}卫</span> -->
                                        <span class="l">|</span>
                                        <span class="info">{$vo.acreage}{:config('filter.acreage_unit')}</span>
                                        <span class="l">|</span>
                                        <span class="info">{:getLinkMenuName(8,$vo['renovation'])}</span>
                                        <span class="l">|</span>
                                        <span class="info">{:getLinkMenuName(4,$vo['orientations'])}</span>
                                    </p>
                                <p>
                                    <span class="tit">{$vo.estate_name}</span>
                                    <span class="address">{$vo.address}</span>
                                </p>
									<span class="label_list clearfix">
                                    <i class="item item4">{$vo.years}年</i>
                                        {php}$tag = array_filter(explode(',',$vo['tags']));{/php}
                                        {notempty name='tag'}
                                        {volist name='tag' key='n' id='val'}
                                        <i class="item item{$n}">{:getLinkMenuName(14,$val)}</i>
                                        {/volist}
                                        {/notempty}
									</span>

									<span class="price">
										<h5><strong>{$vo.qipai|raw}</strong></h5>
										<p>{$vo.average_price|raw}</p>
									</span>
                                </span>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
                {notempty name='pages'}
                <div class="page_list clearfix">
                    {$pages|raw}
                </div>
                {/notempty}
            </div>
            <!-- 二手房列表 E -->
        </div>
    </div>
</div>

<!-- 内容 S-->
{/block}

<div class="footer">
    {include file='public/footer' /}
</div>
<script src="__STATIC__/js/plugins/jquery.lazyload.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script src="__STATIC__/js/layer/layer.js"></script>
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
        $('.follow').on('click',function(){
            var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
            $.post(url,{house_id:house_id,model:model},function(result){
                if(result.code == 1)
                {
                    layer.msg(result.msg,{icon:1});
                    if(me.hasClass('on'))
                    {
                        me.removeClass('on').text(result.text);
                    }else{
                        me.addClass('on').text(result.text);
                    }
                }else{
                    layer.msg(result.msg,{icon:2});
                }
            });
        });
    });
</script>