<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>北京买房贷款利息计算器_北京我爱我家房产网</title>
    <meta name="Keywords" content="买房贷款利息计算">
    <meta name="Description" content="北京我爱我家房产网为您提供新房二手房买房贷款利息计算功能,简单易操作,一键点击就能查询房贷利息,赶快测试吧!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta charset="UTF-8">
    <meta name="location" content="province=北京;city=北京;coord=116.39147,39.90555">

    <link href="/css/basic.css?v={:time()}" rel="stylesheet">
    <link href="/css/calculator.css?v={:time()}" rel="stylesheet">
    <link href="/css/loan.css?v={:time()}" rel="stylesheet">
</head>

<body>

<!-- 当前路径 start -->
<div class="cur-path-box">
    <div class="main clear">
        <div class="cur-path">
            <a href="/">北京</a>
            <span>&gt;</span>
            <h1
                    style='display:inline-block;line-height: 47px;color: #8e99a9;font-size: 12px;font-family: "Microsoft YaHei",微软雅黑,Tahoma,Arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;'>
                房贷计算</h1>
        </div>
    </div>
</div>

<div class="yzBox mar">
    <div class="midMain marTop3 clear">
        <ul class="menu_left">
            <li td-trace="tracetd_bi" tdEventId="个人中心_购房工具" tdJson={ "type" : "房贷计算" } class="cur"
            data-url="./loan.html">
            房贷计算<i class=""></i></li>

            <li td-trace="tracetd_bi" tdEventId="个人中心_购房工具" tdJson={ "type" : "税费计算" } class=""
            data-url='./secondhandtax.html'>税费计算<i class="none"></i></li>

            <li td-trace="tracetd_bi" tdEventId="个人中心_购房工具" tdJson={ "type" : "首付测试" } class=""
            data-url="./downpayment.html">首付成数测试<i class="none"></i></li>
            <li td-trace="tracetd_bi" tdEventId="个人中心_购房工具" tdJson={ "type" : "资质查询" } class=""
            data-url="./qualification.html">资质查询<i class="none"></i></li>
        </ul>
        <div class="midBox ">
            <!--房贷计算器-->
            <div class="mains block">
                <!--左边计算部分-->
                <div class="tag-now clear">
                    <div class="leftwsty">
                        <div class="fangpai-detail-daikuan-content">
                            <div class="fangpai-detail-daikuan-content-left">
                                <ul>
                                    <li>
                                        <span>贷款类型</span>
                                        <select>
                                            <option value ="1">商业贷</option>
                                        </select>
                                        <p class="fangpai-detail-daikuan-content-left-img-position">
                                            <img src="./homeStatic/img/daosanjiao22.png" alt="">
                                        </p>
                                    </li>
                                    <li>
                                        <span>起拍价</span>
                                        <input type="text" id="dai_qipai">
                                        <p class="fangpai-detail-daikuan-content-left-position">万元</p>
                                    </li>
                                    <li>
                                        <span>贷款比例</span>
                                        <select id="dai_bili">
                                            <option value ="65">65%</option>
                                            <option value ="60">60%</option>
                                            <option value ="55">55%</option>
                                            <option value ="50">50%</option>
                                            <option value ="45">45%</option>
                                            <option value ="40">40%</option>
                                            <option value ="35">35%</option>
                                            <option value ="30">30%</option>
                                            <option value ="25">25%</option>
                                            <option value ="20">20%</option>
                                            <option value ="15">15%</option>
                                            <option value ="10">10%</option>
                                            <option value =">5">5%</option>
                                        </select>
                                        <p class="fangpai-detail-daikuan-content-left-img-position">
                                            <img src="./homeStatic/img/daosanjiao22.png" alt="">
                                        </p>
                                    </li>
                                    <li>
                                        <span>商贷年限</span>
                                        <select id="dai_nianxian">
                                            <option value="30">30年</option>
                                            <option value="29">29年</option>
                                            <option value="28">28年</option>
                                            <option value="27">27年</option>
                                            <option value="26">26年</option>
                                            <option value="25">25年</option>
                                            <option value="24">24年</option>
                                            <option value="23">23年</option>
                                            <option value="22">22年</option>
                                            <option value="21">21年</option>
                                            <option value="20">20年</option>
                                            <option value="19">19年</option>
                                            <option value="18">18年</option>
                                            <option value="17">17年</option>
                                            <option value="16">16年</option>
                                            <option value="15">15年</option>
                                            <option value="14">14年</option>
                                            <option value="13">13年</option>
                                            <option value="12">12年</option>
                                            <option value="11">11年</option>
                                            <option value="10">10年</option>
                                            <option value="9">9年</option>
                                            <option value="8">8年</option>
                                            <option value="7">7年</option>
                                            <option value="6">6年</option>
                                            <option value="5">5年</option>
                                        </select>
                                        <p class="fangpai-detail-daikuan-content-left-img-position">
                                            <img src="./homeStatic/img/daosanjiao22.png" alt="">
                                        </p>
                                    </li>
                                    <li class="shangyelilv">
                                        <span>商贷利率</span>
                                        <select id="dai_lilv">
                                            <option value ="4.41">基准利率9折(4.41%)</option>
                                            <option value ="4.655">基准利率95折(4.655%)</option>
                                            <option selected value="4.9">基准利率(4.9%)</option>
                                            <option value="5.145">基准利率上浮5%(5.145%)</option>
                                        </select>

                                        <div class="zidingyi">
                                            <input id="zidingyi" value=""/>
                                            <input type="checkbox" id="test" name="checkZidingyi"/>
                                            <label name="checkZidingyi">自定义</label>
                                        </div>
                                        <p class="fangpai-detail-daikuan-content-left-img-position">
                                            <img src="./homeStatic/img/daosanjiao22.png" alt="">
                                        </p>
                                    </li>
                                    <li>
                                        <span>还款方式</span>
                                        <select id="dai_huankuan">
                                            <option value ="benxi">等额本息</option>
                                            <option value ="benjin">等额本金</option>
                                        </select>
                                        <p class="fangpai-detail-daikuan-content-left-img-position">
                                            <img src="./homeStatic/img/daosanjiao22.png" alt="">
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="fangpai-detail-daikuan-content-right">
                                <!--<div class="yuegong_xi fangpai-detail-daikuan-content-right-monty">-->
                                    <!--<p>月供（等额本息）</p>-->
                                    <!--<p><span id="huan_benxi"></span>万元</p>-->
                                <!--</div>-->
                                <!--<div class="yuegong_jin fangpai-detail-daikuan-content-right-ben fangpai-detail-daikuan-content-right-monty"  style="display: none">-->
                                    <!--<p>月供（等额本金）</p>-->
                                    <!--<p><span id="huan_benjin"></span>万元</p>-->
                                <!--</div>-->
                                <!--<div class="yuegong_jin fangpai-detail-daikuan-content-right-monty" style="display: none">-->
                                    <!--<p>每月递减</p>-->
                                    <!--<p><span id="huan_dijian"></span>元</p>-->
                                <!--</div>-->
                                <!--<div id="main_">-->
                                    <!--<input type="hidden" id="mail_val" value="">-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="quesbtn marl18 clear">
                            <a href="javascript:void(0)" class="pre baisebg" onclick="location.reload()">清空</a>
                            <a href="javascript:void(0)" class="next" onclick="userCalcu()">计算</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--房贷计算器-->
        </div>
    </div>

    <div class="error">请输入正确的格式</div>
</div>


<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>

<script src="/js/loan.js"></script>

<script>
    $(function () {

        //左侧导航内容切换
        $(".menu_left li").click(function () {
            var redirect_url = $(this).attr('data-url');
            window.location.href = redirect_url;
        });
        //去掉左侧导航第一个li的上边框
        $(".menu_left li:first").css("border-top", "none")
        // 点击发布房源
        $(".mfBtn").click(function () {
            $(".mf").removeClass("hide").addClass("block");
        });
        $(".czBtn").click(function () {
            $(".cz").removeClass("hide").addClass("block");
        });
        ///点击弹窗 是 之后
        $(".mfYes").click(function () {
            $(".mf").removeClass("block").addClass("hide");
            $(".mf-page").addClass("hide");
            $(".mf-page-child").removeClass("hide").addClass("block");
        });

        //移入显示 移出隐藏
        $(".tsicon").mouseover(function () {
            $(this).children().show();
        });
        $(".tsicon").mouseout(function () {
            $(this).children().hide();
        });

    })
</script>