{extend name='public/page_list' /}
{block name='css'}
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
<link rel="stylesheet" type="text/css" href="/homeStatic/css/homeList.css?v={:time()}">
<link rel="stylesheet" type="text/css" href="__CSS__/css.css">
{/block}
{block name='content'}
<div class="cm_house" style="padding-top: 70px">
    <div class="comWidth">
        <!-- 页面标识 S-->
        <div class="page_tit">
            <a href="javascript:;" rel="nofollow">您的位置：</a>
            <a href="{:url('Index/index')}">首页</a> &gt;
            <a href="javascript:void(0);">特色房源</a> &gt;
            <a href="javascript:void(0);">{$info.title}</a>
        </div>
        <div class="top_banner">
            <img src="{$info.img}" alt="">
        </div>
        <div style="margin: 23px 0;font-size: 16px;line-height: 25px;letter-spacing: 2px;">
            {$info.info}
        </div>
        <!-- 筛选栏 E -->
        <div class="main clearfix" >
            <!-- 二手房列表 S-->
            <div class="houseList_wrap leftArea cm_leftArea" style="margin-top: -30px">
                <div class="fangpai-shu-list-content">
                    <div class="fangpai-shu-list-content-left">
                        <ul class="fangpai-lie-list" style="display: block;">
                            {volist name='lists' id='vo' empty='暂无数据'}
                            <li data-id="{$vo.id}">
                                <span style="display: none">{$vo.id}</span>
                                <div class="fangpai-lie-list-img">
                                    <img src="{$vo.img}" onerror="javascript:this.src='/static/images/noimg.jpg'" alt="{$vo.title}">
                                </div>
                                <div class="fangpai-lie-list-content">
                                    <div class="fangpai-lie-list-content-title">
                                        <h3>{$vo.title}</h3>
                                        <span class="fangpai-lie-list-content-title-red">{:getLinkMenuName(26,$vo['types'])}</span>
                                        <span class="fangpai-lie-list-content-title-blue">{:getLinkMenuName(25,$vo['jieduan'])}</span>
                                    </div>
                                    <div class="fangpai-lie-list-info">
                                        <span>{$vo.estate_name}</span>|<span>{:getLinkMenuName(29,$vo['toilet'])}</span>|<span>
                                            {if strstr($vo.acreage,'.')}
                                                <span class="info">{$vo.acreage}{:config('filter.acreage_unit')}</span>
                                              {else}
                                                <span class="info">{$vo.acreage}.00{:config('filter.acreage_unit')}</span>
                                            {/if}
                                        </span>|<span>{:getLinkMenuName(4,$vo['orientations'])}向</span>|<span>{$vo['floor']}/{$vo['total_floor']}层</span>
                                    </div>
                                    <div class="fangpai-lie-list-time">
                                        <span>开拍时间：{$vo.kptime}</span>
                                        <p>起拍价：<b>{$vo.qipai}</b>万</p>
                                    </div>
                                    <div class="fangpai-lie-list-footer">
                                        <div class="fangpai-lie-list-danjia">
                                            <span class="dj">单价：{$vo.average_price|raw}</span>
                                            <span>市场价：{$vo.price|raw}</span>
                                        </div>
                                    </div>
                                </div>
                                {if condition="$vo.fcstatus eq 169"}
                                <div class="fangpai-heng-list-absolute">
                                    {:getLinkMenuName(27,$vo['fcstatus'])}
                                </div>
                                {elseif condition="$vo.fcstatus eq 170"}
                                <div class="fangpai-heng-list-absolute-lan">
                                    {:getLinkMenuName(27,$vo['fcstatus'])}
                                </div>
                                {else /}
                                <div class="fangpai-heng-list-absolute-over">
                                    <span style="display: none">{$vo.id}</span>
                                    {:getLinkMenuName(27,$vo['fcstatus'])}
                                </div>
                                {/if}
                                {if condition="$vo.is_free eq 1"}
                                <div class="fangpai-shu-list-left-absolute">
                                    自由购
                                </div>
                                {/if}
                                <!--<div class="fangpai-heng-list-absolute-over">-->
                                <!--已结束-->
                                <!--</div>-->
                            </li>
                            {/volist}
                        </ul>
                        {notempty name='pages'}
                        <div class="page_list clearfix">
                            {$pages|raw}
                        </div>
                        {/notempty}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('.fangpai-lie-list li').on('click', function () {
        var house_id = $(this).attr('data-id');
        window.open("/erf-"+house_id+".html");
    })
</script>
{/block}