{extend name="public/layout" /}
{block name='content'}
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
        <a href="/second_house/detail/id/{$id}"><li class="layui-this">房源详情</li></a>
        <a href="/second_house/profit/id/{$id}"><li>收益计算</li></a>
        <a href="/second_house/report/id/{$id}"><li>尽职调查报告</li></a>
    </ul>
</div>
<form class="layui-form" action="">
    <div class="layui-form layui-border-box layui-table-view">
        <table id="tree-table" class="layui-table list-table" cellspacing="0" cellpadding="0" border="0" data-uri="{:url('SecondHouse/ajaxEdit')}">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
            </colgroup>
            <thead>
            <tr>
                <th style="text-align:center;">
                    <div class="layui-table-cell"><span>id</span></div>
                </th>
                <th style="text-align:center;">
                    <div class="layui-table-cell"><span>经纪人</span></div>
                </th>
                <th style="text-align:center;">
                    <div class="layui-table-cell"><span>操作类型</span></div>
                </th>
                <th style="text-align:center;">
                    <div class="layui-table-cell"><span>操作时间</span></div>
                </th>
            </tr>
            </thead>
            <tbody>
            {volist name="lists" id="val"}
            <tr>
                <td>
                    <div class="layui-table-cell">
                        {$val.id}
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell">
                        {$val.nick_name}
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell">

                        {if condition='$val.type eq 3'}
                        成交
                        {else /}
                        签单
                        {/if}
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell">
                        {$val.set_time}
                    </div>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <div class="kaifazhe-fix-bottom layui-clear">
        <div id="pages" class="layui-layout-right">
            {$pages|raw}
        </div>
    </div>
</form>
{/block}

