{extend name="public/layout" /}

{block name='content'}
<form class="layui-form" id="info_form" action="{:url('second_house/report_edit')}" method="post" enctype="multipart/form-data">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <a href="/second_house/detail/id/{$id}"><li>房源详情</li></a>
            <a href="/second_house/profit/id/{$id}"><li>收益计算</li></a>
            <a href="/second_house/report/id/{$id}"><li class="layui-this">尽职调查报告</li></a>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label"><span class="layui-form-alert">*</span>房源名称</label>

                        <div class="layui-input-inline">

                            {$info.title}

                        </div>

                    </div>

                    <div class="layui-inline" >

                        <label class="layui-form-label"><span class="layui-form-alert">*</span>房型 {$info.id}</label>

                        <div class="layui-input-inline" >
                            {:getLinkMenu(29,'toilet','select',$info['toilet'])}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"><span class="layui-form-alert">*</span>面积 </label>
                        <div class="layui-input-inline" style="width:95px;">
                            <input type="text" class="layui-input" lay-verify="acreage" id="acreage" name="acreage"  placeholder="122"  autocomplete="off" value="{$info.acreage}" onchange="acreage_ckprice_price()">
                        </div>
                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;">㎡ 市场价<a href="javascript:;" data-title="不填写价格或填写0前台显示为待定" class="layui-icon layui-icon-tips alert" style="display:none"></a></div>
                        <div class="layui-input-inline" style="width:80px;">
                            <input type="text" class="layui-input" lay-verify="price" id="price" name="price"  placeholder="122"  autocomplete="off" value="{$info->getData('price')}" onchange="acreage_ckprice_price()">
                        </div>
                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:1px;">万</div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">参考价 </label>
                        <div class="layui-input-inline" style="width:80px;">
                            <input type="text" class="layui-input" lay-verify="ckprice" id="ckprice" name="ckprice"  placeholder="122"  autocomplete="off" value="{$info->getData('ckprice')}" onchange="acreage_ckprice_price()">
                        </div>
                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:1px;">万</div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">楼层 </label>
                        <div class="layui-input-inline" style="width:100px;">
                            <select name="floor">
                                <option value="">-请选择-</option>
                                {for start="-2" end="71"}
                                <option value="{$i}" {if condition="$info.floor eq $i"}selected="selected"{/if}>{$i}</option>
                                {/for}
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:20px;"> 共</div>
                        <div class="layui-input-inline" style="width:110px;">
                            <select name="total_floor">
                                {for start="-2" end="71"}
                                <option value="{$i}" {if condition="$info.total_floor eq $i"}selected="selected"{/if}>{$i}</option>
                                {/for}
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;"> 层</div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">朝向 </label>
                        <div class="layui-input-inline">
                            {:getLinkMenu(4,'orientations','select',$info['orientations'])}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline" style="pointer-events:none;">
                        <label class="layui-form-label">编号 </label>
                        <div class="layui-input-inline" >
                            <input type="text" class="layui-input"  value="{$info.bianhao}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-inline">
                            <label class="layui-form-label">电梯 </label>
                            <div class="layui-input-inline">
                                <select lay-filter="elevator_status" id="elevator_status" name="elevator_status">
                                    <option value="1" {if condition="$info.elevator_status eq 1"}selected{/if}>有</option>
                                    <option value="0" {if condition="$info.elevator_status eq 0"}selected{/if}>无</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline elevator_status" {if condition="$info.elevator_status eq 2"}style="display:none;"{/if}>
                    <div class="layui-inline">
                        <label class="layui-form-label">电梯情况 </label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input"  name="elevator" id="elevator"  value="{$info.elevator}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">房源瑕疵 </label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="xiaci" value="{$info.xiaci}" id="xiaci" placeholder="">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">欠费情况 </label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="qianfei" value="{$info.qianfei}" id="qianfei" placeholder="">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">执行依据 </label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="enforcement" lay-verify="enforcement" id="enforcement" placeholder="" value="{$info.enforcement}">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">行政限制 </label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="land_purpose" lay-verify="land_purpose" id="land_purpose" placeholder="" value="{$info.land_purpose}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">户口占用情况 </label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="land_certificate" lay-verify="land_certificate" id="land_certificate" placeholder="" value="{$info.land_certificate}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">产权证号 </label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="property_no" lay-verify="property_no" id="property_no" placeholder="" value="{$info.property_no}">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">房屋用途 </label>
                    <div class="layui-input-inline">
                        <select name="house_purpse" id="house_purpse">
                            <option value="住宅" {if condition="$info.house_purpse eq '住宅'"}selected{/if}>住宅</option>
                            <option value="公寓" {if condition="$info.house_purpse eq '公寓'"}selected{/if}>公寓</option>
                            <option value="商业" {if condition="$info.house_purpse eq '商业'"}selected{/if}>商业</option>
                            <option value="土地" {if condition="$info.house_purpse eq '土地'"}selected{/if}>土地</option>
                            <option value="厂房" {if condition="$info.house_purpse eq '厂房'"}selected{/if}>厂房</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">经营情况 </label>
                    <div class="layui-input-inline">
                        <select name="management" id="management">
                            <option value="无" {if condition="$info.management eq '无'"}selected{/if}>无</option>
                            <option value="有" {if condition="$info.management eq '有'"}selected{/if}>有</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">查封情况 </label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="sequestration" lay-verify="sequestration" id="sequestration" placeholder="" value="{$info.sequestration}">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">周边交通通勤 </label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="traffic" lay-verify="traffic" id="traffic" placeholder="" value="{$data.traffic}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">租赁情况 </label>
                    <div class="layui-input-inline">
                        <select name="lease" id="lease" lay-filter="lease">
                            <option value="无" {if condition="$info.lease eq '无'"}selected{/if}>无</option>
                            <option value="有" {if condition="$info.lease eq '有'"}selected{/if}>有</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline lease" {if condition="$info.lease eq '无'"}style="display:none;"{/if}>
                <label class="layui-form-label">租赁期限 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="lease_term" lay-verify="lease_term" id="lease_term" placeholder="" value="{$data.lease_term}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">抵押情况 </label>
                <div class="layui-input-inline">
                    <select name="mortgage" id="mortgage">
                        <option value="有" {if condition="$info.mortgage eq '有'"}selected{/if}>有</option>
                        <option value="无" {if condition="$info.mortgage eq '无'"}selected{/if}>无</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">腾退情况 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="vacate" lay-verify="vacate" id="vacate" placeholder="" value="{$info.vacate}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">教育 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="education" lay-verify="education" id="education" placeholder="" value="{$data.education}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">医疗 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="medical_care" lay-verify="medical_care" id="medical_care" placeholder="" value="{$data.medical_care}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">商超 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="shangchao" lay-verify="shangchao" id="shangchao" placeholder="" value="{$data.shangchao}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">供暖费用 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="heating_cost" lay-verify="heating_cost" id="heating_cost" placeholder="" value="{$data.heating_cost}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">临街 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="kerbside" id="kerbside">
                            <option value="0">--请选择--</option>
                            <option value="1" {if condition="$data.kerbside eq 1"}selected{/if}>是</option>
                            <option value="2" {if condition="$data.kerbside eq 2"}selected{/if}>否</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">双气 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline">
                        <div class="layui-input-inline" style="width:50px;">
                            <select name="shuangqi" id="shuangqi">
                                <option value="0">--请选择--</option>
                                <option value="1" {if condition="$data.shuangqi eq 1"}selected{/if}>是</option>
                                <option value="2" {if condition="$data.shuangqi eq 2"}selected{/if}>否</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">结构 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="structure" id="structure">
                            <option value="0">--请选择--</option>
                            <option value="1" {if condition="$data.structure eq 1"}selected{/if}>砖混</option>
                            <option value="2" {if condition="$data.structure eq 2"}selected{/if}>混凝土</option>
                            <option value="3" {if condition="$data.structure eq 3"}selected{/if}>钢结构</option>
                            <option value="4" {if condition="$data.structure eq 4"}selected{/if}>其他</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">房屋性质 </label>
                <div class="layui-input-inline">
                    <select name="nature" id="nature">
                        <option value="1" {if condition="$data.nature eq 1"}selected{/if}>商品房</option>
                        <option value="2" {if condition="$data.nature eq 2"}selected{/if}>公房</option>
                        <option value="3" {if condition="$data.nature eq 3"}selected{/if}>央产房</option>
                        <option value="4" {if condition="$data.nature eq 4"}selected{/if}>军产房</option>
                        <option value="5" {if condition="$data.nature eq 5"}selected{/if}>一类经适房</option>
                        <option value="6" {if condition="$data.nature eq 6"}selected{/if}>二类经适房（回迁）</option>
                        <option value="7" {if condition="$data.nature eq 7"}selected{/if}>央产经适房</option>
                        <option value="8" {if condition="$data.nature eq 8"}selected{/if}>平房私产</option>
                        <option value="9" {if condition="$data.nature eq 9"}selected{/if}>平房使用</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">建筑类型 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="building_type" id="building_type">
                            <option value="0">--请选择--</option>
                            <option value="1" {if condition="$data.building_type eq 1"}selected{/if}>塔楼</option>
                            <option value="2" {if condition="$data.building_type eq 2"}selected{/if}>板楼</option>
                            <option value="3" {if condition="$data.building_type eq 3"}selected{/if}>板塔结合</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">供暖方式 </label>
                <div class="layui-input-inline">
                    <select name="heating_mode" id="heating_mode">
                        <option value="1" {if condition="$data.heating_mode eq 1"}selected{/if}>集中供暖</option>
                        <option value="2" {if condition="$data.heating_mode eq 2"}selected{/if}>自供暖</option>
                        <option value="3" {if condition="$data.heating_mode eq 3"}selected{/if}>无供暖</option>
                        <option value="4" {if condition="$data.heating_mode eq 4"}selected{/if}>不详</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">用电类型 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="electricity_type" id="electricity_type">
                            <option value="0">--请选择--</option>
                            <option value="1" {if condition="$data.electricity_type eq 1"}selected{/if}>居民用电</option>
                            <option value="2" {if condition="$data.electricity_type eq 2"}selected{/if}>商业用电</option>
                            <option value="3" {if condition="$data.electricity_type eq 3"}selected{/if}>工业用电</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">燃气费用 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="gas_cost" lay-verify="gas_cost" id="gas_cost" placeholder="" value="{$data.gas_cost}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用水类型 </label>
                <div class="layui-input-inline">
                    <select name="water_type" id="water_type">
                        <option value="0">--请选择--</option>
                        <option value="1" {if condition="$data.water_type eq 1"}selected{/if}>居民用水</option>
                        <option value="2" {if condition="$data.water_type eq 2"}selected{/if}>商业用水</option>
                        <option value="3" {if condition="$data.water_type eq 3"}selected{/if}>工业用水</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">遮挡情况 </label>
                <div class="layui-input-inline">
                    <select name="occlusion" id="occlusion">
                        <option value="0" {if condition="$data.occlusion eq 0"}selected{/if}>无</option>
                        <option value="1" {if condition="$data.occlusion eq 1"}selected{/if}>有</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">凶宅 </label>
                <div class="layui-input-inline">
                    <select name="haunted_house" id="haunted_house">
                        <option value="0" {if condition="$data.haunted_house eq 0"}selected{/if}>否</option>
                        <option value="1" {if condition="$data.haunted_house eq 1"}selected{/if}>是</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">装修情况 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="decoration" id="decoration">
                            <option value="0">--请选择--</option>
                            <option value="1" {if condition="$data.decoration eq 1"}selected{/if}>精装</option>
                            <option value="2" {if condition="$data.decoration eq 2"}selected{/if}>简装</option>
                            <option value="3" {if condition="$data.decoration eq 3"}selected{/if}>毛坯</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>


        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">其他影响交付因素 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="influence_factor" lay-verify="influence_factor" id="influence_factor" placeholder="" value="{$data.influence_factor}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">学区名额使用情况 </label>
                <div class="layui-input-inline">
                    <select name="enrollment_quota" id="enrollment_quota">
                        <option value="0" {if condition="$data.enrollment_quota eq 0"}selected{/if}>无</option>
                        <option value="1" {if condition="$data.enrollment_quota eq 1"}selected{/if}>有</option>
                        <option value="2" {if condition="$data.enrollment_quota eq 2"}selected{/if}>不详</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">加价幅度 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="price_increase_range" lay-verify="price_increase_range" id="price_increase_range" placeholder="" value="{$data.price_increase_range}">
                </div>
            </div>

        </div>
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">竞价周期 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="bidding_cycle" id="bidding_cycle">
                            <option value="0">--请选择--</option>
                            <option value="1" {if condition="$data.bidding_cycle eq 1"}selected{/if}>24小时</option>
                            <option value="2" {if condition="$data.bidding_cycle eq 2"}selected{/if}>60天变卖</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">参拍网站 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="auction_website" id="auction_website">
                            <option value="0">--请选择--</option>
                            <option value="1" {if condition="$data.auction_website eq 1"}selected{/if}>淘宝网</option>
                            <option value="2" {if condition="$data.auction_website eq 2"}selected{/if}>京东网</option>
                            <option value="3" {if condition="$data.auction_website eq 3"}selected{/if}>公拍网</option>
                            <option value="4" {if condition="$data.auction_website eq 4"}selected{/if}>中拍网</option>
                            <option value="5" {if condition="$data.auction_website eq 5"}selected{/if}>人民法院诉讼资产网</option>
                            <option value="6" {if condition="$data.auction_website eq 6"}selected{/if}>工商银行融e购</option>
                            <option value="7" {if condition="$data.auction_website eq 7"}selected{/if}>北京产权交易所</option>
                            <option value="8" {if condition="$data.auction_website eq 8"}selected{/if}>其他</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">车位信息 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="parking_information" lay-verify="parking_information" id="parking_information" placeholder="" value="{$data.parking_information}">
                </div>
            </div>

        </div>
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">竞价规则 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="bidding_rules" lay-verify="bidding_rules" id="bidding_rules" placeholder="" value="{$data.bidding_rules}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">执行法院 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="court_execution" lay-verify="court_execution" id="court_execution" placeholder="" value="{$data.court_execution}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">房屋强制司法拍卖执行原因 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="reason" lay-verify="reason" id="reason" placeholder="" value="{$data.reason}">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">产权人姓名 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="property_owner" lay-verify="property_owner" id="property_owner" placeholder="" value="{$data.property_owner}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否有优先购买权 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="preemptive_right" id="preemptive_right">
                            <option value="2" {if condition="$data.preemptive_right eq 2"}selected{/if}>否</option>
                            <option value="1" {if condition="$data.preemptive_right eq 1"}selected{/if}>是</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">房屋属性</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="house_property" lay-verify="house_property" id="house_property" placeholder="" value="{$data.house_property}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">优先购买权人是否书面承诺放弃优先权 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="waiver" id="waiver">
                            <option value="2" {if condition="$data.waiver eq 2"}selected{/if}>否</option>
                            <option value="1" {if condition="$data.waiver eq 1"}selected{/if}>是</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否存在继承或赠与情况 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="donation" id="donation">
                            <option value="2" {if condition="$data.donation eq 2"}selected{/if}>否</option>
                            <option value="1" {if condition="$data.donation eq 1"}selected{/if}>是</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">所有权继承或赠与份额 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="grant_share" id="grant_share">
                            <option value="2" {if condition="$data.grant_share eq 2"}selected{/if}>否</option>
                            <option value="1" {if condition="$data.grant_share eq 1"}selected{/if}>是</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">抵押权 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="mortgages" id="mortgages">
                            <option value="2" {if condition="$data.mortgages eq 2"}selected{/if}>否</option>
                            <option value="1" {if condition="$data.mortgages eq 1"}selected{/if}>是</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">抵押权人 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="mortgagee" id="mortgagee">
                            <option value="2" {if condition="$data.mortgagee eq 2"}selected{/if}>否</option>
                            <option value="1" {if condition="$data.mortgagee eq 1"}selected{/if}>是</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">共有情况 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="co_ownership" id="co_ownership">
                            <option value="2" {if condition="$data.co_ownership eq 2"}selected{/if}>无</option>
                            <option value="1" {if condition="$data.co_ownership eq 1"}selected{/if}>有</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">共有人是否成年 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="adult_or_not" id="adult_or_not">
                            <option value="2" {if condition="$data.adult_or_not eq 2"}selected{/if}>无</option>
                            <option value="1" {if condition="$data.adult_or_not eq 1"}selected{/if}>有</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">登记单位 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="registration_unit" lay-verify="registration_unit" id="registration_unit" placeholder="" value="{$data.registration_unit}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">房屋可否贷款 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <select name="housing_loan" id="housing_loan">
                            <option value="1" {if condition="$data.housing_loan eq 1"}selected{/if}>可以</option>
                            <option value="2" {if condition="$data.housing_loan eq 2"}selected{/if}>不可以</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">贷款利率范围 </label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width:50px;">
                        <input type="text" class="layui-input" name="lending_rate" lay-verify="lending_rate" id="lending_rate" placeholder="" value="{$data.lending_rate}">
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">最高贷款年限 </label>
                <div class="layui-input-inline">
                    <select name="maximum_loan_life" id="maximum_loan_life">
                        <option value="0">--请选择--</option>
                        {for start="1" end="26"}
                        <option value="{$i}" {if condition="$data.maximum_loan_life eq $i"}selected{/if}>{$i}年</option>
                        {/for}
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">契税 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="deed_tax" lay-verify="deed_tax" id="deed_tax" placeholder="" value="{$data.deed_tax}">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">第一套房税费 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="first_suite" lay-verify="first_suite" id="first_suite" placeholder="" value="{$data.first_suite}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">第二套房税费 </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="second_suite" lay-verify="second_suite" id="second_suite" placeholder="" value="{$data.second_suite}">
                </div>
            </div>

        </div>


        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">推荐位 </label>
                <div class="layui-input-block">
                    <input type="checkbox" name="is_free" {if condition="$info.is_free eq 1"} checked="checked"{/if} value="1" title="自由购">
                    <input  type="checkbox" name="is_commission" {if condition="$info.is_commission eq 1"} checked="checked"{/if} value="1" title="免佣金">
                    <input type="checkbox" name="is_school"  {if condition="$info.is_school eq 1"} checked="checked"{/if} value="1" title="学校周边">
                    <input type="checkbox" name="is_metro"  {if condition="$info.is_metro eq 1"} checked="checked"{/if} value="1" title="地铁沿线">
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    <input type="hidden" name="back_url" value="{$back_url}" />
    <input type="hidden" name="years" value="{$years}" />
    <input type="hidden" id="qipai" value="{$info['qipai']}" />
    <input type="hidden" name="developer" value="{$developer}" />
    <div class="layui-form-item" >
        <label class="layui-form-label">&nbsp;</label>
        <input type="hidden" name="id" id="id" value="{$id}">
        <button type="submit" lay-submit="" class="layui-btn btn-submit w200">提交</button>

    </div>
</form>
<div style="padding-top: 100px"></div>

<script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="__JS__/option.js"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        form.on('select(elevator_status)', function (data) {
            var aa = $("#elevator_status").val();
            if(aa==2){
                $("#elevator").val('');
                $(".elevator_status").hide();
            }else if(aa==1){
                $(".elevator_status").show();
            }
        });
        form.on('select(lease)', function (data) {
            var aa = $("#lease").val();
            if(aa==2){
                $("#lease_term").val('');
                $(".lease").hide();
            }else if(aa==1){
                $(".lease").show();
            }
        });
    });
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use(['form','element'], function(){
        var $ = layui.jquery,element = layui.element,form = layui.form;
        //自定义验证规则
        form.verify({
            acreage : function(value){
                if(!/\d+$/.test(value)){
                    return '请填写房源面积';
                }
            },
            price : function (value) {
                if(!/\d+$/.test(value)){
                    return '请填写市场价';
                }
            },
            ckprice : function (value) {
                if(!/\d+$/.test(value)){
                    return '请填写参考价';
                }
            }
        });
    });
    //修改面积和市场价更新契税第一套和第二套契税
    function acreage_ckprice_price(){
        var acreage = $("#acreage").val();
        var ckprice = $("#ckprice").val();
        var price = $("#price").val();
        var qipai =  $("#qipai").val();
        var jiage = 0;
        if(ckprice>0){
            jiage = ckprice;
        }else if(price>0){
            jiage = price;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/second_house/deen_tax",
            data: {"acreage":acreage,"jiage":jiage,"qipai":qipai},
            success:function (result) {
                $('#deed_tax').val(result.deed_tax);
                $('#first_suite').val(result.first_suite);
                $('#second_suite').val(result.second_suite);
            }
        });
    }
</script>
{/block}