<!doctype html>
<html lang="en" style="width:100%;height:100%;margin:0;padding:0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>地图周边</title>
     <title>{$seo.title}</title>
    <meta name="keywords" content="{$seo.keys}" />
    <meta name="description" content="{$seo.desc}" />
    <script src="__STATIC__/js/jquery.min.js"></script>
    <!--<script src="__STATIC__/js/font-size.js"></script>-->
    <link rel="stylesheet" href="__STATIC__/mobile/css/base.css?t={:time()}">
    <link rel="stylesheet" href="__STATIC__/mobile/css/style.css?t={:time()}">

</head>
<body style="width:100%;height:100%;margin:0;padding:0;">
{block name='content'}{include file='public/peitao_mobile' /}{/block}
</body>
</html>






